//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//IMPORT FONT
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	@import url(https://fonts.googleapis.com/css?family=Roboto:700,300italic,700italic,300);
	
	// * {
	// 	-webkit-font-smoothing: antialiased;
	// }

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// BASIC CONDITIONALS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$layout-style: "Minimal"; // "Minimal" , "Photo" , "Color" 
$background-image: url(bg.jpg);
$interchangeable-logo: "False"; // "True", "False"
$logo-image: url(logo.png);
$logo-image-width: 240px;
$logo-image-height: 80px;
$primary-color: #c32432;// 4b86ee c32432 6fb9c4 59c974 53555f
$header-position: "Contained"; // "Full-width Header" , "Contained"
$survey-overlay-filter: "Dark Filter"; // "Dark Filter" , "Light Filter"
$label-style-options: "Flat"; // "Flat" , "3D" , "Radio Buttons"

// VARIABLE LIST

@import "variableList";
@import "wysiwygConditionals";
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Functions
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "functions";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// MIXINS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "mixins";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Theme
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "themes/Minimal";
@import "themes/Photo";
@import "themes/Color";
@import "themes/NewTheme";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Label Styles
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "labelStyles/Flat";
@import "labelStyles/3D";
@import "labelStyles/Radio1";
@import "labelStyles/Radio2";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// BASE STYLES
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "BaseStylesV4";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Custom SCSS/CSS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

