//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//IMPORT FONT
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	@import url(https://fonts.googleapis.com/css?family=Roboto:700,300italic,700italic,300);
	
	// * {
	// 	-webkit-font-smoothing: antialiased;
	// }

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// BASIC CONDITIONALS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$layout-style: "Minimal"; // "Minimal" , "Photo" , "Color" 
$background-image: url(bg.jpg);
$interchangeable-logo: "False"; // "True", "False"
$logo-image: url(logo.png);
$logo-image-width: 250px;
$logo-image-height: 97px;
$primary-color: #c32432;// 4b86ee c32432 6fb9c4 59c974 53555f
$header-position: "Contained"; // "Full-width Header" , "Contained"
$survey-overlay-filter: "Dark Filter"; // "Dark Filter" , "Light Filter"
$label-style-options: "Flat"; // "Flat" , "3D" , "Radio Buttons"

// Primary Imports

@import "variableList",
		"wysiwygConditionals",
		"functions",
		"mixins";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Themes
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "themes/Minimal",
		"themes/Photo",
		"themes/Color",
		"themes/NewTheme";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Label Styles
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "labelStyles/Flat",
		"labelStyles/3D",
		"labelStyles/Radio1",
		"labelStyles/Radio2";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// BASE STYLES
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "BaseStylesV4",
		"UpdateModules/progressBar/progressBar3",
		"UpdateModules/labelStyles/radioButtons/radioButtons2";

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Custom SCSS/CSS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

