/// TOC


// 3D Labels & Buttons..........60
// 
//
//




















































// 3D LABELS & BUTTONS
.Skin label.SingleAnswer, 
.Skin label.MultipleAnswer {
	border-radius: 4px;
}

.Skin label.SingleAnswer.q-checked, 
.Skin label.MultipleAnswer.q-checked {
	@include box-shadow(0px, 1px, 0, rgba(#FFF, .8), inset);
	background: lighten($primary-color, 10%);
	border: 1px solid darken($primary-color, 30%);
}

.Skin label.q-radio.q-checked, 
.Skin label.q-checkbox.q-checked {
	@include box-shadow(0px, 1px, 0, rgba(#FFF, .8), inset);
}

.Skin #ProgressBar {
	border-bottom: 2px solid darken($progress-bar-background-color, 10%);
}

.Skin #ProgressBar tr td:first-child {
	color: $progress-bar-background-color;
}

.Skin .ProgressBarFill {
	@include linear-gradient($progress-bar-fill-color, darken($progress-bar-fill-color, 10%));
}

.Skin #Buttons #NextButton, 
.Skin #Buttons #PreviousButton {
	background: lighten($primary-color, 5%);

	&:hover, &:active, &:focus {
		@include box-shadow(0, 1px, 0, rgba(#FFF, .8), inset);
		background: lighten($primary-color, 5%);
	}
}
