@if $label-style-options == "Flat" {


	//BORDER
	$default-border-width: 2px;
	$default-border-radius: 4px;

	//BACKGROUND
	@if $body-background-image-on == T and $boxed-skincontent == F {
		@if $overlay-dark == T {
			$answer-label-background-backup: #555; // IE Backup
			$answer-label-background: rgba(255,255,255,.07); //For dark image/color backgrounds
		} @elseif $overlay-dark == F {
			$answer-label-background-backup: #EEE; // IE Backup
			$answer-label-background: rgba(0,0,0,.05); //For light image/color backgrounds

		}
	}
	
	// HOVER STATE
	@if $body-background-image-on == T and $boxed-skincontent == F {
		@if $overlay-dark == T {
			$answer-label-hover-background-backup: #555; // IE Backup
			$answer-label-hover-background: opacify($answer-label-background, .1); //For dark image/color backgrounds
		} @elseif $overlay-dark == F {
			$answer-label-hover-background-backup: #EEE; // IE Backup
			$answer-label-hover-background: opacify($answer-label-background, .1); //For light image/color backgrounds

		}
	}	

	@if $body-background-image-on == T and $boxed-skincontent == F {
		@if $overlay-dark == T {
			$answer-label-hover-border: 1px solid rgba(0,0,0,.03);
		} @elseif $overlay-dark == F {
			$answer-label-hover-border: 1px solid rgba(0,0,0,.1);
		}
	}	


	/////////////////////////////
	// Q RADIO BUTTONS
	/////////////////////////////
	$q-radio-border: 2px solid darken($primary-color, 8%);

	%button-background {
		background-color: $button-background; 
			&:focus {
				background: $button-background-focus;
				outline: none;
			}
			@media only screen and (min-device-width: 1025px) { // Don't want hover state to apply to touch devices <= iPad landscape (1024px) //BOOKMARK: apply this to all or most hover states (including Answer labels)
				&:hover {
					background: $button-background-hover;
					border-color: $button-primary-color;
				}
				&:active {
					background: $button-background-active;
					border-color: $button-background-active;
				}
			}			
	}

}


