/* Remove from BaseStyles */
#SurveyEngineBody .Skin .MC .SAVR span.LabelWrapper, #SurveyEngineBody .Skin .MC .MAVR span.LabelWrapper {
	/* this is set to 80% in BaseStyles*/
	width: 100%;
}
.Skin .MC .MAVR input.TextEntryBox, .Skin .MC .SAVR input.TextEntryBox {
	/* fixes text entry placement in li MC questions */
	display: inline-block; /* will this break anything? */
}


/* Testing text entry box placement*/
.Skin .QuestionBody .TextEntryBox {
	margin-top: -25px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	width: 75%;
	border: 1px solid #ccc;
}
.Skin .QuestionBody .TextEntryBox:focus {
	outline: none;
	border-color: #FF6262;
}
/* Centers text entry boxes in spans*/
.Skin .LabelWrapper {
	text-align: center;
}


/* Hides radio buttons and checkboxes */
.Skin input[type="radio"],
.Skin input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}


/* General (MA and SA) label styles */
.Skin .QuestionBody label.SingleAnswer,
.Skin .QuestionBody label.MultipleAnswer,
/* Remove this specific selector from BaseStyles */
.Skin .MC .QuestionBody li label {
/* */ 
	background: transparent;
	color: #444;
	border: 1px solid #ddd;
	padding: 30px 4%;
	/* display: block; */
	border-radius: 4px;
	text-align: center;

	/* Make labels full-height ... */	
	height: 100%;
	box-sizing: border-box;
	margin: 0;

	/* Vertically centers text in td ... */
	display: table;
	width: 100%;
		
}
/* ... Vertically centers text in td (continued) */
.Skin .QuestionBody label.SingleAnswer span,
.Skin .QuestionBody label.MultipleAnswer span {
	display: table-cell;
	vertical-align: middle;
}
/* ... Make labels full-height of span of td (continued) */
.Skin td .LabelWrapper {
	display: block;
	overflow: auto;
	height: 100%;
}
/* Have to remove the below from BaseStyles or labels spill over top and bottom
because of full-height label CSS. */
.Skin .MC .QuestionBody td label {
	margin-bottom: 0;
	margin-top: 0;
}
/* Adds space between tds */
.Skin .MC .QuestionBody table.ChoiceStructure {
	border-spacing: 4px;
}



/* "Selected" .q-checked class */
.Skin .QuestionBody label.SingleAnswer.q-checked,
.Skin .QuestionBody label.MultipleAnswer.q-checked,
.Skin .QuestionBody label.q-checked {
	color: #fff;
	background: #FD5D5D;
	border-color: #D41E1E;
}


/* Matrix table labels (turn into radio buttons/checkboxes) */
.Skin .Matrix .QuestionBody label.MultipleAnswer,
.Skin .Matrix .QuestionBody label.SingleAnswer {
	display: block;
	width: 20px;
	height: 20px;
	margin: auto;
	border: 2px solid #FD5D5D;
	padding: 0;
	background: #FFF;
}
.Skin .Matrix .QuestionBody label.SingleAnswer {
	border-radius: 100%;
}
.Skin .Matrix .QuestionBody label.MultipleAnswer {
	border-radius: 2px;
}
.Skin .Matrix .QuestionBody label.q-checked {
	background: #FFA8A8;
}


/* Mobile Matrix Table Question test */
.Skin .Matrix table th.c1 {
	background: #fff;
	position: absolute;
}
.Skin .Matrix table td.c2, .Skin .Matrix table th.c2 {
	padding-right: 200px;
}