$layout-style: "Photo";
$background-image: url(bg.jpg);
$interchangeable-logo: "False";
$logo-image: url(logo.png);
$logo-width: 160px;
$logo-height: 49px;
$primary-color: #FF5447;
$logo-position: "Full-width Header";
$survey-overlay-filter: "Light Filter";
$label-style-options: "";