//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//IMPORT FONT
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
	
	// * {
	// 	-webkit-font-smoothing: antialiased;
	// }

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// BASIC CONDITIONALS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	//LAYOUT
	$interchangeable-logo: T;
	$full-width-header: F;
	$boxed-skincontent: T;
	$pushed-to-bottom-plug: T; // -- BOOKMARK: Don't want to change, probably.  Unless something breaks. 

	//BACKGROUND
	$body-background-image-on: F;
	$overlay-dark: T;

	//BORDER RADIUS - Labels, TextEntry, Buttons, Survey Container
	$border-radius-on: T; //Do we ever want this False?

	//BOX SHADOW (SkinContent or SkinInner and Full-width LogoContainer)
	$question-container-box-shadow-on: F;

	//RADIO BUTTONS
	$radio-buttons: T;

	//LABEL STYLE
	$label-style: 2; // 1 or 2	// BOOKMARK: Style 1 only used for "Minimal" layout - plain white/gray background

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ALL VARIABLES
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	--> // indicate common changes or variables/elements to double check. 

	/////////////////////////////
	// COLORS
	/////////////////////////////
	-->	$primary-color: #ff5050;
	$primary-hue: hue($primary-color);
	$primary-hue-color-light: hsl($primary-hue, 100%, 95%);
	$desaturated-primary-color: desaturate($primary-color, 20%);
	@function set-reverse-text-color($primary-color) {	// Function to change text color based on background color
	  @if (lightness($primary-color) > 70%) or (lightness($primary-color) > 30%) and (hue($primary-color) > 45) and (hue($primary-color) < 80) {
	    @return darken($primary-color, 70%); 
	  } @else {
	    @return white; 
	  }
	}
	--> $reverse-primary-text-color: set-reverse-text-color($primary-color); //This color is calculated in fucntion above, or enter manually.  
	$link-color: #4b86ee;

	/////////////////////////////
	// SURVEY ENGINE BODY
	/////////////////////////////
	--> $body-background-color: $primary-color;
	--> $body-background-image: url(https://s.qualtrics.com/ControlPanel/Graphic.php?IM=IM_cOnSH9l3PPJjFmR&V=1410189252);
	$body-background-size: cover; 	// Change to "auto" and "repeat" for repeating background images
	$body-background-repeat: no-repeat; 

	$body-background: $body-background-color;
	@if $body-background-image-on == T {
		$body-background: $body-background-image $body-background-repeat center fixed; // Normal background image with boxed skin content (no overlay)
		@if $boxed-skincontent == F {
			@if $overlay-dark == T {
				$body-background: #555 $body-background-image $body-background-repeat center fixed; // Dark background color for dark image
			} @elseif $overlay-dark == F {
				$body-background: #FFF $body-background-image $body-background-repeat center fixed; // Light background color for light image
			}			
		}
	}

	/////////////////////////////
	// OVERLAY
	/////////////////////////////
	$overlay-background: transparent; // Don't want an overlay unless there's a background image and no boxed SkinContent
	@if $body-background-image-on == T and $boxed-skincontent == F {
		@if $overlay-dark == T {
			$overlay-background: url(dark.png);
		} @elseif $overlay-dark == F {
			$overlay-background: url(light.png);
		}
	}

	/////////////////////////////
	// DEFAULTS
	/////////////////////////////
	// WIDTH & PADDING
	$container-max-width: 770px; // 770px - 1080px is a normal range
	$container-min-width: 770px; // Needed for "display:table" solution
	--> $default-container-padding: 30px;
	$default-mobile-container-padding: 15px;
	//FONT
	--> $font-stack: "Roboto", "Helvetica", Arial, sans-serif;
	$default-font-size: 18px;
	$default-text-color: #43464D;
	@if $boxed-skincontent == F and $body-background-image-on == T {
		@if $overlay-dark == T {
			$default-text-color: #FFF;
		} @elseif $overlay-dark == F {
			$default-text-color: #333;
		}
	}
	//BORDER
	$default-border-width: 1px; // IMPORTANT: If this is 0, need some other way to indicate focus class (for accessibility)
	@if $label-style == 2 {
		$default-border-width: 2px;
	}
	$default-border-style: solid;	
	$default-border-color: #ccc;
	@if $boxed-skincontent == F and $body-background-image-on == T { // = background image
		@if $overlay-dark == F {
			$default-border-color: lighten($default-text-color, 20%);
		} @elseif $overlay-dark == T {
			$default-border-color: #ccc;				
		}
	}
	$default-border-radius: 2px;
	@if $label-style == 2 {
		$default-border-radius: 4px;
	}
	$default-border: $default-border-width $default-border-style $default-border-color;
	//SEPARATOR
	$separator-height: $default-border-width;
	$separator-margin: 10px;

	/////////////////////////////
	// QUESTION CONTAINER
	/////////////////////////////
	$question-container-background-color: #FFF; //I think this should never be anything but white, for now at least.
	$container-box-shadow-x: 0;
	$container-box-shadow-y: 0;
	$container-box-shadow-spread: 15px;
	$container-box-shadow-color: rgba(0,0,0,.3); //Can't use box-shadow on IE8 anyway, so might as well do rgba
	$question-container-border-radius: $default-border-radius * 2;
	$question-container-box-shadow: ($container-box-shadow-x, $container-box-shadow-y, $container-box-shadow-spread, $container-box-shadow-color);
	//SKININNER
	$skin-inner-max-width: $container-max-width;
	$skin-inner-background: $question-container-background-color;
	@if $boxed-skincontent == F {
		$skin-inner-background: transparent;
	}
	
	/////////////////////////////
	// PROGRESS BAR
	/////////////////////////////
	$progress-bar-background-color: $primary-hue-color-light;
	@if $full-width-header == F and $body-background-image-on == T {
		@if $overlay-dark == T {
			$progress-bar-background-color: rgba(255,255,255,.2);
		}

	}
	$progress-bar-fill-color: darken($desaturated-primary-color, 10%);
	$progress-bar-font-size: 14px;
	$progress-bar-fill-height: $progress-bar-font-size + 2px;

	/////////////////////////////
	// LOGO CONTAINER 
	/////////////////////////////
	$logo-container-background: #FFF;
	@if $full-width-header == F {
		$logo-container-background: transparent;
	}

	/////////////////////////////
	// LOGO
	/////////////////////////////
	-->	$logo-image: url("logo2.png");
	$logo-mobile-image: $logo-image; // Good idea to upload @2X image if exists (for retina displays)
	$logo-background-color: transparent; // If colored, need to include the same border-radius (if applicable);
	-->	$logo-image-width: 180px;
	-->	$logo-image-height: 64px;
	$logo-padding: 20px; 
	$logo-width: $logo-image-width;
	$logo-height: $logo-image-height + ($logo-padding * 2);
	$logo-mobile-scale: .66;
	$logo-mobile-width: ($logo-image-width * $logo-mobile-scale);
	$logo-mobile-height: ($logo-image-height * $logo-mobile-scale);
	$logo-max-width: $container-max-width + ($default-container-padding * 2.5); //2.5? There's almost always some padding around the logo in the image file.  Good idea or not?
	@if $boxed-skincontent == F and $full-width-header == T {
		$logo-max-width: $container-max-width + ($default-container-padding); //Better to have it too far out than too far in.  In my opinion.
	}
	$logo-position: $default-container-padding center; // So it doesn't touch the edge
	$logo-mobile-position: center center;
	$logo-mobile-padding: ($logo-padding * $logo-mobile-scale);

	/////////////////////////////
	// HEADER
	/////////////////////////////
	$header-font-size: $default-font-size;
	$header-max-width: $container-max-width + ($default-container-padding * 2);
		@if $boxed-skincontent == F and $full-width-header == T {
			$header-max-width: $container-max-width + ($default-container-padding * .5);
		}
	$header-padding: 10px $default-container-padding; //&:empty {padding: 0}
	@if $interchangeable-logo == F {
		@if $full-width-header == T {
			//Pushes the header closer to the logo, gives it a more balanced look with the logo				
			$header-padding: 0 $default-container-padding 20px $default-container-padding; //&:empty {padding: 0}
		}
	}
	@if $interchangeable-logo == T { // the Header acts as the Logo
		@if $full-width-header == T {
			$header-padding: $logo-padding $default-container-padding;
		}
		@if $full-width-header == F {
			$header-padding: $default-container-padding $default-container-padding ($default-container-padding / 2) $default-container-padding;
		}
	}


	$header-text-color: $default-text-color;
	@if $full-width-header == T and $boxed-skincontent == F { // Because the default-text-color is often white in this case
		$header-text-color: $primary-color; 
	}

	/////////////////////////////
	// QUESTIONTEXT / QUESTIONBODY
	/////////////////////////////
	--> $question-text-font-size: ($default-font-size + 2);
	$question-text-color: $default-text-color;
	$question-body-font-size: $default-font-size;
	$question-body-text-color: $default-text-color;
	$question-body-padding: 0 $default-container-padding $default-container-padding $default-container-padding;

	/////////////////////////////
	// RADIO BUTTONS / LABELS
	/////////////////////////////
	//LABELS
	$answer-label-spacing: 10px;
	//SELECTED STATE
	$answer-label-select-background: $primary-color;
	$answer-label-select-color: $reverse-primary-text-color;
	//STYLE 1
	$answer-label-background: transparent;
	$answer-label-border: 1px solid $default-border-color; // Customers4 style
	//STYLE 2
	$answer-label-background-2-backup: #eee; //For IE
	$answer-label-background-2: rgba(0,0,0,.05); //For white background
	$answer-label-background-2-transparent-dark: rgba(0,0,0,.1); //For light image/color backgrounds
	$answer-label-background-2-transparent-light: rgba(255,255,255,.1); //For dark image/color backgrounds
	$answer-label-border-2: none;
	//Q RADIO BUTTONS
	$q-radio-size: 20px;
	$q-radio-background: transparent;
	$q-radio-background-checked: lighten($primary-color, 8%);
	$q-radio-border: 1px solid $primary-color;
	@if $label-style == 2 {
		$q-radio-border: 2px solid $primary-color;
	}

	/////////////////////////////
	// BUTTONS
	/////////////////////////////
	--> $button-primary-color: $primary-color;
	--> $button-padding: 8px 20px;
	$button-font-size: $default-font-size;
	$buttons-container-padding: $default-container-padding;
	// STYLE 2
	$button-background: $button-primary-color;
	$button-background-hover: darken($primary-color, 8%);
	$button-background-active: darken($button-background, 15%);
	$button-background-focus: darken($button-background, 15%); // Need to leave this for accessibility.  

	$button-border: none;
	$button-border-hover: darken($primary-hue-color-light, 20%);

	$button-text-color: $reverse-primary-text-color;
	$button-text-color-hover: $primary-color;
	// STYLE 1
	@if $label-style == 1 {
		$button-background: transparent;
		$button-border: $default-border;
		$button-text-color: $default-text-color;
	}

	@if $label-style == 1 {
		$button-background-hover: $primary-hue-color-light;
		$button-background-active: darken($primary-hue-color-light, 5%);
	}

	/////////////////////////////
	// FOOTER
	/////////////////////////////
	$footer-font-size: ($default-font-size - 2);
	$footer-padding: $default-container-padding;
	-->	$footer-text-color: $default-text-color; //BOOKMARK: We could figure out a way to calculate this.  For now, manually update. 

	/////////////////////////////
	// PLUG
	/////////////////////////////
	$plug-font-size: 14px; // IMPORTANT: If this changes, need to change the $calculated-sticky-footer-height (or it will overflow or be too short)
	$plug-padding: 12px 24px;
	$plug-link-color: #FFF;
	$plug-background: rgba(0,0,0,.3);
	@if $body-background-image-on == T and $boxed-skincontent == F and $overlay-dark == T {
		$plug-background: rgba(255,255,255,.1);
	}
	$plug-background-hover: #c32432; // New Qualtrics red (or should it be $primary-color?)
	// $calculated-sticky-footer-height: $footer-font-size + 10 * 2 +5; //BOOKMARK: I think we should make this one size fits all.  It's causing problems. 
	$calculated-sticky-footer-height: 40px;

	//
	//

	/////////////////////////////
	// QUESTION TYPES / UNIVERSAL ELEMENTS
	/////////////////////////////
	//SLIDER
	$slider-handle-color: $primary-color;
	$slider-bar-color: #DDD;
	@if $body-background-image-on == T and $boxed-skincontent == F and $overlay-dark == F {
		$slider-bar-color: #505457;
	}
	// VALIDATION ERROR
	// == R
	$error-red-background: #FFD7D7;
	$error-red-color: #E73F61;
	// == O
	$error-orange-background: #FFDAAB;
	$error-orange-color: #D66D31;
	// == B
	$error-blue-background: #C0E1FF;
	$error-blue-color: #3180D6;
	-->	$error-color: R;
	$error-background-color: lighten($error-red-background, 4%); // If R
	$error-border-color: $error-red-color; // If "R"ed
	$error-text-color: $error-red-color;
	@if $error-color == O {
		$error-background-color: lighten($error-orange-background, 4%);
		$error-border-color: $error-orange-color;
		$error-text-color: $error-orange-color;
	} @elseif $error-color == B {
		$error-background-color: lighten($error-blue-background, 4%);
		$error-border-color: $error-blue-color;	
		$error-text-color: $error-blue-color;
	}
	// READALBE HOVER (ALT)
	$readable-hover-backup: darken($question-container-background-color, 4%); // For IE8
	$readable-hover-color: rgba(0,0,0,.05);
	@if $boxed-skincontent == F and $body-background-image-on == T {
		@if $overlay-dark == T {
			$readable-hover-backup: #555; //Backup color for IE8
			$readable-hover-color: rgba(255,255,255,.1);
		} @elseif $overlay-dark == F {
			$readable-hover-backup: #DDD; //Backup color for IE8
			$readable-hover-color: rgba(0,0,0,.2);				
		}
	}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//IMPORT latest BaseStyles.css
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	/* BaseStylesV4 */
	@import '_BaseStylesV4.scss';

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//MIXINS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	//BORDER RADIUS
	@mixin border-radius($border-radius-size) {
		-webkit-border-radius: $border-radius-size;
		   -moz-border-radius: $border-radius-size;
			-ms-border-radius: $border-radius-size;
		     -o-border-radius: $border-radius-size;
				border-radius: $border-radius-size;
	}

	//BOX SHADOW
	@mixin box-shadow($x, $y, $size, $color) {
		-webkit-box-shadow: $x $y $size $color;
		   -moz-box-shadow: $x $y $size $color;
			    box-shadow: $x $y $size $color;
	}

	//LINEAR GRADIENT // -- Not using this anywhere, but good to keep around I guess. 
	@mixin linear-gradient($top, $bottom) {
		background: $top;
		background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
		background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
		background: -o-linear-gradient(top,  $top 0%,$bottom 100%);
		background: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
		background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
	}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// LAYOUT ELEMENTS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@if $pushed-to-bottom-plug == T {
	@media only screen and (min-device-width: 1281px) { // BOOKMARK: Added this media query to fix scrolling QuestionBody on mobile issue.  Also needed for .RO .DND to properly rank // This media query still sketches me out a little--the problem is touch, not device width.  1281px should be good though. 
		//Needed for Sticky Footer Plug - Do Not Remove
		.JFE, .JFEContent,
		html, body, #Page, .Skin {
			height: 100%;
		}
	}
}

a {
	color: $link-color;
}

#SurveyEngineBody {
	background: $body-background;
	background-size: $body-background-size;
	color: $default-text-color;
	font-family: $font-stack;
}

#RestoredResponseBar { // Welcome Back! Message at top of screen
	background: #45464b !important; // Does this pull the color from the "Highlight Questions" option? -- No, it doesn't, I checked.
	color: #888c8f !important;
	a {
		color: $link-color !important;
	}
}

#RestoredResponseBar .BottomShadow {
	display: none;
}

.Skin {

	#Wrapper{
		@if $pushed-to-bottom-plug == T{
			//These styles needed for Sticky Footer Plug - Do Not Remove
			min-height: 100%;
			height: auto !important; 
			height: 100%;
			margin: 0 auto (-$calculated-sticky-footer-height);
		}
	}

	#Overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -9;
		background: $overlay-background;
	}

	#ProgressBar {
		font-size: $progress-bar-font-size;
		// padding: 0; // Do we even need this? Don't think so. 
		position:relative;
		@if $full-width-header == F { // This is here to add space between top of window and SkinInner... Can't add margin to SkinInner because it pushes the plug off the page.  
			@media only screen and (min-width: 768px) {
				// SOLUTION: Add padding-bottom to the #ProgressBar (even if there's no progress bar, the div is still there...) Nice.  Kind of weird place to put padding, but fine. 
				padding-bottom: ($default-container-padding * 2); 
			}
		}
	}

	.ProgressBarContainer{
		width:100%;
		border-collapse:collapse;
		//have to add these borders or there is a 1px space to right and left when the 0% and 100% tds are gone -- remove if we can figure out a better way
		border-right: 4px solid $progress-bar-background-color;
		border-left: 2px solid $progress-bar-fill-color;
	}
	
	#ProgressBar tr td:nth-child(1) {
	  position: absolute;
	  left: 0;
	  color: $progress-bar-fill-color;
	  line-height: $progress-bar-fill-height;
	  border-left: 2px solid $progress-bar-fill-color;
	  width: 100%;
	  &:empty {
		 //BOOKMARK: the progress bar is driving me crazy.  How can we get rid of the spaces at the left and right
	  }
	}
	
	#ProgressBar tr td:nth-child(2){
		width:100%;
	}
	
	#ProgressBar tr td:nth-child(3) {
	  position: absolute;
	  right: 0;
	  line-height: $progress-bar-fill-height;
	  color: $progress-bar-fill-color;
	  &:empty {
		 //BOOKMARK: the progress bar is driving me crazy.  How can we get rid of the spaces at the left and right
	  }
	}

	.ProgressBarFillContainer {
		border: none;
		overflow:hidden;
		background:$progress-bar-background-color;
		width:100%;
	}

	.ProgressBarFill {
		background-color: $progress-bar-fill-color;
		height: $progress-bar-fill-height;
	}
	
	.LanguageSelectorContainer {
		margin: $default-container-padding;
		margin-bottom: 0;
		text-align: right;
	}
	
	.SkinInner {
		@if $full-width-header == F { // The SkinInner acts as the SkinContent (the "white box") ONLY in this case.  Otherwise, it's just the whole window (expands to allow full width header)
			max-width: $skin-inner-max-width;
			margin: 0 auto;
			background: $skin-inner-background;
			
			@if $boxed-skincontent == T {
				@if $question-container-box-shadow-on == T {
					@include box-shadow($question-container-box-shadow);
				}
				@if $border-radius-on == T {
					@include border-radius($question-container-border-radius);
				}	
				@media only screen and (max-width: 767px) {
					margin: 0 auto; // Removes space at top and bottom
					@if $border-radius-on {
						@include border-radius(0)
					}
				}
			}
		}
	} 

	#LogoContainer {
		background: $logo-container-background;
		@if $full-width-header == T and $question-container-box-shadow-on == T {
			@include box-shadow($container-box-shadow-x, $container-box-shadow-y, $container-box-shadow-spread, $container-box-shadow-color);
		}
	}

	@if $interchangeable-logo == F { //Only style the #Logo div if we're including it.  
		#Logo  {
			background: $logo-background-color $logo-image no-repeat $logo-position;
			background-size: $logo-image-width $logo-image-height;
			height: $logo-height;
			max-width: $logo-max-width;
			@media only screen and (max-width: 767px) {
				background: $logo-background-color $logo-mobile-image no-repeat $logo-mobile-position;
				background-size: $logo-mobile-width $logo-mobile-height;
				height: $logo-mobile-height + $logo-padding;
			}
			@if $full-width-header == T {
				margin: 0 auto;
			}
		} 
	} @elseif $interchangeable-logo == T {
		#Logo {
			display:none;
		}
	}

	#HeaderContainer {
		@if $full-width-header == F {
			max-width: ($skin-inner-max-width + ($default-container-padding * 2));
			margin: 0 auto;
		}
		@if $full-width-header == T {
			background: $logo-container-background;
			@if $boxed-skincontent == T {
				margin-bottom: ($default-container-padding * 2); // This causes a problem, pushes the plug off the page.  
			} 
			@if $boxed-skincontent == F {
				margin-bottom: ($default-container-padding);
			}
		}
		@media only screen and (max-width: 767px) {
			text-align: center;
		}
	}

	#Header {
		font-size: $header-font-size;
		color: $header-text-color;
		margin: 0px auto;
		max-width: $header-max-width;
		padding: $header-padding;
		//BOOKMARK: when do we want this to go away vs. not?  ALSO CONSIDER the plug, and how margins can push it off the page if there's a margin on an element with no height. or something. 
		@if $interchangeable-logo == F or $interchangeable-logo == T and $full-width-header == F { // Basically, if there's a Permanent Logo - OR - If there no Permanent Logo, but the Header/Logo is inside the box
			&:empty {
				padding: 0; // wahoo!  This makes the padding go away if there's no text.  Not for IE8-.  
			}
		} 
	}

	#SkinContent {
		margin: 0 auto;

		@if $full-width-header == T { // Only in this scenario is the SkinContent the "white box," Otherwise it's the SkinInner
			max-width: $skin-inner-max-width;
			@if $boxed-skincontent == T {
				background: $question-container-background-color;
				@if $border-radius-on == T {
					@include border-radius($default-border-radius * 2);
				}	
				@if $boxed-skincontent == T and $question-container-box-shadow-on == T{
					@include box-shadow($container-box-shadow-x, $container-box-shadow-y, $container-box-shadow-spread, $container-box-shadow-color);
				}
			}
		}
		@media only screen and (max-width: 767px) {
			border: none;
			@include border-radius(0);
		}
	}

	#Questions {
		overflow: auto; // Prevents the Validation Error Message from touching the top (previously used: padding-top: 1px;)
	}
	
	@if $boxed-skincontent == F {
		.QuestionOuter .Inner {
			// Need these so we can add a border to the "highlighted" questions
			border: $default-border; 
			border-color: transparent;
		}
	}

	.QuestionText {
		font-size: $question-text-font-size;
		color: $question-text-color;
		padding: $default-container-padding;
		@media all and (max-width: 768px) {
			padding: $default-mobile-container-padding;
		}
	}

	.QuestionBody {
		color: $question-body-text-color;
		font-size: $question-body-font-size;
		overflow-y:hidden;  // this allows the QuestionBody to scroll independently of the QuestionText
		padding: $question-body-padding;
		position:relative;//added for /*new radio position absolute z -1*/ so the quesiton doesn't jump when clicking - needs to be here for overflowing questions
		@media all and (max-width: 768px) {
			padding: $default-mobile-container-padding;
		}
	}

	.DB .TB .QuestionBody {
		padding: 0;	//This removes the padding from the nonexistent .QuestionBody on Descriptive Text questions.
	}

	// BOOKMARK: Side scrolling still needs testing
	// Allows QuestionText to wrap, and QuestionBody to scroll left to right on mobile.
	@-moz-document url-prefix() { // BOOKMARK: Removed this media query because this wasn't working in Firefox (which was the point), but then tested in IE and it causes problems
	   fieldset {
	       display: table-cell; //this is added so that it doesn't break in IE - Test in IE
	       // This makes a lot of questions not 100% width when they should be in IE (like MAHR, SAHR, .FORM, SLIDERS, etc.)
	   }
	}
	fieldset {
		width:100%;
		min-width:0;
		max-width:none;
	}
	// Thanks, Cory.

	#Buttons {
		margin-top: 50px;	// BOOKMARK: I think this margin helps make it not look stupid with just one question on the page.  Maybe not? 
		padding: $buttons-container-padding;
		text-align: right;
		@media only screen and (max-width: 768px) {
			padding: $default-mobile-container-padding;
		}
		&:empty {
			// hide the button div if there's not buttons on the page. 
			margin-top: 0;
			padding: 0;
		}
	}

	#Buttons #PreviousButton {
		float: left;
	}

	#Buttons #NextButton, #Buttons #PreviousButton {
		border: $button-border;
		background-color: $button-background; 
		color: $button-text-color;
		font-size: $button-font-size;
		padding: $button-padding;
		@include border-radius($default-border-radius);
		cursor: pointer;
		margin: 0px;
		text-align: center;
		text-decoration: none;
		-webkit-appearance: none;
		transition: background .3s;
		&:focus {
			background: $button-background-focus;
			outline: none;
		}
		@media only screen and (min-device-width: 1025px) { // Don't want hover state to apply to touch devices <= iPad landscape (1024px) //BOOKMARK: apply this to all or most hover states (including Answer labels)
			&:hover {
				background: $button-background-hover;
				@if $label-style == 1 {
					border-color: $button-border-hover;
					color: $button-text-color-hover;
				}
			}
			&:active {
				background: $button-background-active;
				border: $button-background-active;
			}
		}
	}

	#Footer {
		color: $footer-text-color;
		font-size: $footer-font-size;
		max-width: $container-max-width + ($default-container-padding * 2);
		margin: 0px auto;
		padding: $footer-padding;
		@media only screen and (max-width: 767px) {
			padding: $default-mobile-container-padding;
		}
	}

	#PushStickyFooter{
		//Needed for Sticky Footer Plug - Do Not Remove
		height: $calculated-sticky-footer-height;
	}
	
	#Plug {
		a {
			font-size: $plug-font-size;
			color: $plug-link-color;
			text-decoration: none;
			padding: $plug-padding;
			// IE Backup backgrounds
			@if $body-background-image-on == F { // IE Backup - for color backgrounds
				background: darken($body-background-color, 10%); 
			} @elseif $body-background-image-on == T { // IE Backup - for image backgrounds 
				@if $overlay-dark == T {
					background: #2A2C31;
				} @elseif $overlay-dark == F {
					background: #888;
				}
			}
			background: $plug-background;
			-webkit-transition: background .3s;
			text-align: center;
			height: $calculated-sticky-footer-height;
			@media only screen and (min-width: 768px) {
				float: right;
				@if $border-radius-on == T {
					@include border-radius(5px 0 0 0);
				}
			}
			&:focus {
				background: $plug-background-hover;
				outline: none;
			}
			@media only screen and (min-device-width: 1025px) { // Don't want hover state to apply to touch devices <= iPad landscape (1024px) //BOOKMARK: apply this to all or most hover states (including Answer labels)
				&:hover {
					background: $plug-background-hover;
				}
			}
		}
	}

	// (Still inside .Skin)

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// UNIVERSAL ELEMENTS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	// Styles for html elements that don't automatically style
	button, input, select, textarea {
		font-family: $font-stack;
		font-size: $default-font-size;
		color: $default-text-color;
	} 

	// Text inputs and select menus
	input.TextEntryBox, 
	.TE textarea, 
	textarea, 
	input[type="password"], 
	input[type="text"], 
	input[type="search"],
	select {
		border: $default-border; // These inputs need a border, otherwise the focus class will be nonexistent (since we don't want the ugly native blue one)
		@if $border-radius-on == T {
			@include border-radius(2px);
		}
		padding: 2px; // If we add too much padding, it cuts off the text (with box-sizing: border-box). Probably stick with 4px or less.
		// max-width: 100%;	//BOOKMARK: max-width: 100% causes problems in IE8 (the text inputs shrink down to "100%" of the td they are in)

		@if $body-background-image-on == T and $boxed-skincontent == F and $overlay-dark == T or $default-text-color == #FFFFFF {
			background: transparent;
		} 

		&:focus {
			// Replacing native blue focus outline with new border color
			border-color: $primary-color;
			outline: none;
		}
	}

	@if $body-background-image-on == T and $boxed-skincontent == F and $overlay-dark == T or $default-text-color == #FFFFFF {
		select {
			color: #ccc; //Can't be white, or it won't show up in some Firefox or IE select menus.			
		}
	}

	// Text input width fixes
	.TE .SL .InputText,
	.TE .ML .InputText,
	.TE .ESTB .InputText,
	.TE .PW .InputText,
	.TE .FORM .InputText,
	.MC .TextEntryBox {
		max-width: 100%; // So these can be edited in survey builder to be smaller (but not bigger than 100% of the space)
	}

	.MC .SACOL .TextEntryBox,
	.MC .MACOL .TextEntryBox {
		width: 100% !important; // This is needed to keep the tds in these questions the same uniform width. Otherwise these textentryboxes make their tds wider. 	
	}
	@if $radio-buttons == F { 
		.MC .MAHR .TextEntryBox,
		.MC .SAHR .TextEntryBox {
			width: 100% !important; // Don't want these to be 100% width in the "Radio Buttons" option
			@media only screen and (min-width: 481px) {
				float: left; //This lets the lis (in Horizontal - Side label option) align to the top with lis that have a .TextEntryBox
			}
		}
		.MC .MAHR li .TextEntryBox,
		.MC .SAHR li .TextEntryBox {
			float: left; //Only want this for the lis (side label option)
		}
	}
	@media only screen and (max-width: 767px) {
		.TE .FORM .InputText {
			width: 100% !important; // !important is to override inline width set in platform
		}
		.CS .TX .TextEntryBox,
		.RO .TX .TextEntryBox {
			width: 50% !important; // Make these 100% and they automatically go to a new line... I guess 50% works
			// or what about max-width: 100%? as long as it's fine in IE8.
			max-width: 100%;
			background: red;
		}
	}	
	// /end Text input width fixes

	@if $boxed-skincontent == F and $overlay-dark == T or $default-text-color == #FFF { 
		.yui-skin-sam .yui-calendar .calheader {
			color: #000; //Fixes the white text on that custom calendar question
		}		
	}

	.HeaderValidationError {
		margin: $default-container-padding;
		padding: 15px;
		@if $border-radius-on == T {
			@include border-radius($default-border-radius);
		}
		background: $error-background-color;
		color: $error-text-color;
		@media only screen and (max-width: 768px) {
			margin: $default-mobile-container-padding;
		}
		h1 {
			font-size: 120%;
		}
		a {
			color: $error-text-color
		}
	}
	.ValidationError {
		font-size: $question-text-font-size;
		text-align: center;
		padding: 5px 0 10px 0;
		color: $error-text-color;
	}
	.QuestionOuter.Highlight .Inner {
		@if $boxed-skincontent == F {
			border-color: $error-border-color;
			@include border-radius($default-border-radius);
		}
		@if $boxed-skincontent == T {
			background: $error-background-color;
		}
	}
	.Separator {
		height: $separator-height;
		background: $default-border-color;
		margin: $separator-margin $default-container-padding;
		@media only screen and (max-width: 768px) {
			margin: ($separator-margin / 2) $default-mobile-container-padding;
		}
	}
	.EndOfSurvey {
		color: $question-text-color;
		padding: 60px ($default-container-padding * 2);
	}

	// Readable Hover state (rather than ReadableAlt class)
	@media only screen and (min-width: 767px) {
		.ChoiceRow,
		.Choice,
		.RO .RB tr,
		.CS .VRTL li {
			-webkit-transition: background .3s;
			&:hover {
				background: $readable-hover-backup; //backup for IE8
				background: $readable-hover-color;
			}
		}
		// Remove hover color for these question types, because it looks weird. 
		.RO .RB tr.Answers,
		.Matrix .Bipolar tr,
		.Matrix .Profile tr {
			background: inherit;
		}
	}

	// Table of Contents
	.closed #TocSidebarIcons, .reduced #TocSidebarIcons{
		padding-left: $default-container-padding;
		@media only screen and (max-width: 768px) {
				padding-left: $default-mobile-container-padding;
			}
	}
	#TocSidebarContainer{
		@if $boxed-skincontent == T {
			left:-220px;
			@include border-radius($default-border-radius);
			box-shadow: 0 0 10px rgba(0,0,0, .4);
			background:$question-container-background-color;
			&.reduced{
				background: $question-container-background-color;
				left:0;
				-webkit-border-top-left-radius: 0;
			  -webkit-border-bottom-left-radius: 0;
			  -moz-border-radius-topleft: 0;
			  -moz-border-radius-bottomleft: 0;
			  border-top-left-radius: 0;
			  border-bottom-left-radius: 0;
			}
			&.closed{
				box-shadow:none;
				transition: 0s linear left;
			}

		}
		@if $boxed-skincontent == F{
			@if $overlay-dark == T{
				left:-200px;
				@include border-radius($default-border-radius);
				background:rgba(255,255,255,.1);
				&.reduced{
					background: #333;
					left:0;
				}
			}
			@if $overlay-dark == F{
				left:-200px;
				@include border-radius($default-border-radius);
				background:rgba(0,0,0,.1);

				&.reduced{
					background: $question-container-background-color;
					left:0;
				}
			}
		}
	}
	#Toc a, #Toc strong, #TocHeader a{
		color:$default-text-color;
	}
	#TocHeader td.Current a, #Toc li.Current, body #Toc li.Current a, #Toc li.Current strong {
		background-color: $primary-color;
		color: #FFF;
	}
	#Toc li.Incomplete a{
		color: $default-text-color;
	}
	#Toc li.Alert a{
		color: red;
	}
	//End Table of Contents

	// (Still inside .Skin)

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// QUESTION TYPES
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	////////////////////////////////////////////////////////////////////
	// Pick Group & Rank / Rank Order
	////////////////////////////////////////////////////////////////////
	.PGR .DragAndDrop td.groupsContainerTd div > div {
		border: $default-border;
		@include border-radius($default-border-radius);
		margin: 5px;
	}
	.PGR .DragAndDrop h2 {
		font-size: $default-font-size + 2px;
	}
	.PGR .DragAndDrop .Group h2 {
		border-bottom: $default-border;
		padding: 10px;
		background: darken($question-container-background-color, 3%);
		@if $body-background-image-on == T and $boxed-skincontent == F {
			@if $overlay-dark == T {
				background: transparent;
			} @elseif $overlay-dark == F {
				background: #FFF;
			}

		}
	}
	.RO .DND .rank,
	.PGR .DragAndDrop .rank{
		padding: 0px 10px;
		margin: 7px 0;
		left: 4px;
		@if $border-radius-on == T {
			@include border-radius(40px);
		}
		background-color: $primary-color;
		color:$reverse-primary-text-color;
		@if $label-style == 1 {
			border: 1px solid $primary-color;
			background: transparent;
			color: $primary-color;
		}
	}
	.RO .DND ul.Edited .rank,
	.RO .DND ul.NotEdited li:hover .rank,
	.RO .DND .rank {
		background:$primary-color;
		color:$reverse-primary-text-color;
	}
	.PGR .DragAndDrop .Group div {
		// makes it so the ul and lis don't spill over
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}
	.PGR .DragAndDrop .stack ul li.stack {
		border: $default-border;
		@if $border-radius-on == T {
			@include border-radius($default-border-radius);
		}
		@if $default-text-color == #FFF {
			color: #444;  // this is so the "items" show up if the default text color is white.  
		}
	}
	.RO .DND .Items ul li,
	.PGR .DragAndDrop .Items ul li{
		padding: 8px 0;
		text-align: center;
		@if $border-radius-on == T {
			@include border-radius($default-border-radius);
		}
	}
	.RO .DND .Group ul li,
	.PGR .DragAndDrop ul li {
		padding: 8px 40px;
		text-align: center;
		&:hover {
			background: $readable-hover-backup; //backup for IE8
			background: $readable-hover-color;
		}
	}
	.PGR .DragAndDrop ul li.stack {
		&:hover {
			background: #fff; // Change the hover state for the white "stacked" ones
		}
	}
	.PGR .DragAndDrop .NoColumns td.groupsContainerTd div > div {
		margin: 0 auto 10px auto; //Not sure we need this... seems like we want the group boxes close to the items 
	}
	@media all and (max-width: 768px) { 
		.CS .HR li,
		.RO .HR li {
			float: none; // Don't want the text entry ones to be on the same line on mobile.
		}
	}
	@media all and (min-width: 767px) {
		.CS .HR li,
		.RO .HR li {
			margin-right: $default-container-padding;
			// background: blue;
		}
	}
	.RO .DND ul li {
		padding: ($default-container-padding / 2) 0;
		@if $border-radius-on == T {
			@include border-radius($default-border-radius);
		}
	}
	.RO .DND ul li .rank {
		margin: 0 10px;
	}
	// BOOKMARK: Removed the below because it affected something else, but I can't remember what it broke.  
	// .QuestionOuter.RO {
	// 	overflow-y: visible; //BOOKMARK://THESE WERE ADDED SO THE LIs are always visible, but it may break something...?  It did.. found it with Cory, but can't remember what it was. 
	// }
	// .QuestionOuter.RO .DND .QuestionBody {
	// 	overflow-y: visible;
	// 	overflow-x: visible !important; //BOOKMARK: do we need an important tag here? What is this? 
	// }
	//Rank Order - Radio Button
	.RO .RB .ChoiceStructure td {
		padding: ($default-container-padding / 2) inherit;
	}
	.RO .DND ul li:hover{
		background: $readable-hover-backup; //backup for IE8
		background: $readable-hover-color;
	}

	////////////////////////////////////////////////////////////////////
	// Constant Sum
	////////////////////////////////////////////////////////////////////
	.CS .ChoiceStructure li {
		padding: $default-container-padding / 2;
	}
	.CS .VRTL .SumInput input,
	.CS .VRTL .SumTotal input {
		margin-top: $default-container-padding / 3;	//This is to vertically center the inputs in Constan Sum.  Not always perfect.  
	}
	.CS .CSTotal,
	.CS .Total {
		background: $readable-hover-backup;
		background: $readable-hover-color;
	}	
	.Matrix .TE .Short td input, .Matrix .TE .Medium td input, .Matrix .TE .Long td input, .SBS .InputText, .CS input.SumInput, .CS .SumInput input.InputText, .CS .SumTotal input, .RO .RankInput {
		text-align: center;	//Rank Order/Constant Sum inputs -- Center the number
	}

	////////////////////////////////////////////////////////////////////
	// Slider
	////////////////////////////////////////////////////////////////////
	.horizontalbar .Slider .track {
		background-color: $slider-bar-color; //BOOKMARK: what's a good way to make the area around the slider selectable, without having to use an image
	}
	.horizontalbar th.ylabel {
		padding:($default-container-padding / 2);
	}
	.horizontalbar tr.Stars td.value input,
	.horizontalbar table.sliderGrid tr td.value input {
		width: 4em;
		border: $default-border; // This is so the focus class can apply a color border
		border-color: transparent;
	}
	//Draggable Bar
	.horizontalbar .bar{
		background-color: $slider-bar-color;
		@include border-radius($default-border-radius);
	}
	.HBAR .trackHolderRel .track {
		border: $default-border;
			@include border-radius(2px);
	}
	.HBAR .trackHolderRel.activated .track {
		border-color: darken($slider-handle-color, 10%);
	}
	//Graphic Slider
	.SS .horizontalbar .SSTrack,
	.SS .verticalbar .SSTrack {
		margin: 20px !important;
		background-color: $slider-bar-color;
	}
	.horizontalbar .activated .bar,
	.horizontalbar .BarContainer:hover .bar,
	.SS .horizontalbar .handle,
	.horizontalbar .Slider .handle,
	.SS .verticalbar .SSTrack .handle{
		background: $slider-handle-color;
	}
	.SS .horizontalbar .handle:hover,
	.horizontalbar .Slider .handle:hover {
		background-color: $primary-color;
		padding: 10px;
	}

	////////////////////////////////////////////////////////////////////
	// Text Entry
	////////////////////////////////////////////////////////////////////
	.TE .FORM table {
		width: 100%;
	}
	.TE .ControlContainer {
		width: 50%; //Mobile
	}
	@media all and (min-width: 768px) {
		.TE .FORM span.LabelWrapper {
			padding-right: 1em;
		}
		.TE .ControlContainer {
			width: 75%;
		}
	}
	.TE textarea {
		width: 100%;
	}

	////////////////////////////////////////////////////////////////////
	// Dropdown
	////////////////////////////////////////////////////////////////////
	.Matrix .DL table td.last{
		padding-right: $default-container-padding / 2;
	}

	////////////////////////////////////////////////////////////////////
	// Select Box
	////////////////////////////////////////////////////////////////////
	.SB input {
		background: $button-primary-color;
		color:$button-text-color;
		@if $border-radius-on == T {
			@include border-radius($default-border-radius);
		}
		padding: 4px 12px;
		border: none;	
		border: $default-border;
		border-color: $button-primary-color;
		-webkit-appaerance: none;
	}

	////////////////////////////////////////////////////////////////////
	// Matrix
	////////////////////////////////////////////////////////////////////
	.RO .RB th,
	.SBSMatrix th,
	.Matrix th {
		padding: $default-container-padding / 2;
		@media all and (max-width: 768px) { 
			padding: 5px;		
		}
	}
	.Matrix select {
		width: 100%;
	}
	.Matrix .TE td input {
		margin: 2px; // This keeps the long .TE inputs from touching each other.
	}

	// // BOOKMARK: TEST STYLES
	// .Matrix .Profile .MultipleAnswer table th.c1 {
	// 	background: $primary-color;
	// 	color: #fff;
	// 	text-align: right;
	// }
	// .Matrix .Profile .MultipleAnswer table th {
	// 	background: #ddd;
	// }

	// .Matrix .Profile .MultipleAnswer table tr:first-child th.c1 {
	// 	border-radius: $default-border-radius 0 0 0;
	// }

	// .Matrix .Profile .MultipleAnswer table tr:nth-last-child(2) th.c1 {
	// 	border-radius: 0 0 0 $default-border-radius;
	// }

	////////////////////////////////////////////////////////////////////
	// NPS
	////////////////////////////////////////////////////////////////////
	@if $radio-buttons == T { // Prevent radio buttons from riding up
		.NPS label.SingleAnswer {
			display: block;
		}
		.NPS td.LabelContatiner {
			text-align: center;
		}

		// BOOKMARK: 
		//REMOVED the below, it only works on Chrome, and causes other problems (with Highlight colors covering the answer)
		// Originally added to make the radio button more clickable/selectable

		// .NPS td.ControlContainer {
		// 	position: relative;
		// 	height: 30px; // (height + margin-top) of label.q-radio
		// 	top: -30px; // (height + margin-top) of label.q-radio
		// 	//IE8-
		// 	position: static\9;
		// 	height: inherit\9;
		// }
		// // This is because these questions get extra space at the bottom for the invisible td.ControlContainer
		// .NPS .QuestionBody {
		// 	padding-bottom: 0;
		// }
	}
	////////////////////////////////////////////////////////////////////
	// File Upload
	////////////////////////////////////////////////////////////////////
	.FileUpload .QuestionBody {
		padding-bottom: 0; // There's already some space below the upload button. 
	}

} // /.Skin



// BOOKMARK: This change should be announced.  
// Make questions break on mobile
	
.Skin {
	.MC {
		.MAHR, .SAHR {
			@media all and (max-width: 481px) {
				td {
					display: block;
					width: 100%;

					//BOOKMARK: 
					// THIS OR THE ABOVE? -- Not this
					// display: inline-block;
					// width: auto;
					// margin: ($answer-label-spacing / 2) !important;
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// LABEL STYLES
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	// .SingleAnswer & .MultipleAnswer are the actual labels (with text in them)
	// .q-radio & .q-checkbox are the labels that mimic the input

	// .SinleAnswer & .MultipleAnswer are only styled in "No Radio Buttons" option
	// .q-radio/checkbox are hidden for .MC, etc in the "No Radio Buttons" option

/////////////////////////////
/////////////////////////////

	/* Start Radio Buttons */
	////////////////////////////////////////////////////////////////////
	// STYLED RADIO BUTTONS / CHECKBOXES
	////////////////////////////////////////////////////////////////////
	.Skin label.q-radio,
	.Skin label.q-checkbox {
		border: $q-radio-border;
		width: $q-radio-size;
		height: $q-radio-size;
		display: inline-block;
		background: $q-radio-background;
		@if $default-font-size < 14px { // BOOKMARK: // could do something like this... to make radio button match font size more??
			width: 16px;
			height: 16px;
		}
		// IE8: HIDE ALL q-radio inputs (to bring back NATIVE radio buttons and checkboxes for IE8-)
		display: none\9;
	}	
	// RADIO BUTTON
	.Skin label.q-radio {
		@include border-radius(100%); 	//Need to be circles
		&.q-checked {
			background-color: $q-radio-background-checked;
		}
	}
	// CHECK BOX
	.Skin label.q-checkbox {
		@if $border-radius-on == T {
			@include border-radius(2px);
		}
		&.q-checked {
			background-image: url(check.png);
			background-color: $q-radio-background-checked;
			background-size: 100%;
			background-position: center center;
			background-repeat: no-repeat;	
		}
	}
	////////////////////////////////////////////////////////////////////
	// CONDITIONALS
	////////////////////////////////////////////////////////////////////

	//If radio buttons is TRUE - 
		// hide ALL radio button inputs
		// IE8: bring back ALL radio buttons

@if $radio-buttons == T {

	// /* Hides radio buttons and checkboxes */
	.Skin input[type="radio"],
	.Skin input[type="checkbox"] {
		position: absolute;
		//left: -9999px; //removed for /*new radio position absolute z -1*/ so the quesiton doesn't jump when clicking
		opacity:0;//added for /*new radio position absolute z -1*/ so the quesiton doesn't jump when clicking
		z-index:-1;//added for /*new radio position absolute z -1*/ so the quesiton doesn't jump when clicking
		height:0;
		width:0;

		// Bring back native radio buttons and checkboxes for IE8-
		position:relative\9;
		opacity:1\9;
		z-index:1\9;
		height:auto\9;
		width:auto\9;	
	}

	// Sometimes this seems to help and sometimes it doesn't.  Can't figure out the alignment of the radio buttons consistently.  
	// .Skin .MC .q-radio,
	// .Skin .MC .q-checkbox {
	// 	margin-top: 4px;
	// }

	// Aligns the HR radio buttons vertically with each other
	.Skin .MC .MAHR .QuestionBody td.LabelContatiner,
	.Skin .MC .SAHR .QuestionBody td.LabelContatiner {
		vertical-align: bottom;
	}
	// Puts the "input" labels below the answer options on HR questions
	.Skin .MC .SAHR .QuestionBody td.LabelContatiner .LabelWrapper,
	.Skin .MC .MAHR .QuestionBody td.LabelContatiner .LabelWrapper {
		display: block;
		width: 100%;
	} 
	// This is to group the answer with the correct associated input on mobile..
	// Good idea? bad idea?
	@media only screen and (max-width: 480px) {

		.Skin .MC .MAHR .QuestionBody td.LabelContatiner,
		.Skin .MC .SAHR .QuestionBody td.LabelContatiner {
			padding: 10px 0;
			&:last-child {
				padding-bottom: none;
			}
		}
	}

	.Skin .ChoiceStructure li {
		padding: 10px 0;

	}

	.Skin .MC .SAVR label.q-radio,
	.Skin .MC .SAVR label.q-checkbox,
	.Skin .MC .MAVR label.q-radio,
	.Skin .MC .MAVR label.q-checkbox {
		float: left;
		margin-right: 10px;
		padding: 0;
	}

	.Skin .MC .SAHR label.SingleAnswer,
	.Skin .MC .MAHR label.MultipleAnswer {
		display: inline-block; //Allows the padding below to take effect (and put some space between the radio button).  Can't use "block" or it won't go on the same line as radio button in "side labels" option
		@media only screen and (min-width: 481px) {
			padding-bottom: 20px;
		}
	}

	.Skin .MC .MACOL .QuestionBody td.ControlContainer,
	.Skin .MC .SACOL .QuestionBody td.ControlContainer,
	.Skin .MC .MACOL .QuestionBody td.LabelContatiner,
	.Skin .MC .SACOL .QuestionBody td.LabelContatiner {
		padding: 10px 10px 10px 0;
		vertical-align: top;
	}

	// Because the "radio button" questions need different padding format
	.Skin .MC .QuestionBody {
		padding: $default-container-padding ($default-container-padding + 10px);
		padding-top: 0;
	}


	//REMOVED the below, it only works on Chrome, and causes other problems (with Highlight colors covering the answer)
	// Originally added to make the radio button more clickable/selectable

	// //BOOKMARK: 
	// // test to make HR radio buttons more clickable.
	// // by making td.ControlContainer positioned around the label.q-radio
	// .Skin .MC .SAHR td.ControlContainer,
	// .Skin .MC .MAHR td.ControlContainer {
	// 	position: relative;
	// 	height: 30px; // (height + margin-top) of label.q-radio
	// 	top: -30px; // (height + margin-top) of label.q-radio
	// 	//IE8-
	// 	position: static\9;
	// 	height: inherit\9;
	// }
	// .Skin .MC .SAHR label.q-radio,
	// .Skin .MC .MAHR label.q-checkbox {
	// 	margin-top: 10px;
	// }
	// // This is because these questions get extra space at the bottom for the invisible td.ControlContainer
	// .Skin .MC .SAHR .QuestionBody {
	// 	padding-bottom: 0;
	// }

	.Skin .MC .SAVR span.LabelWrapper,
	.Skin .MC .MAVR span.LabelWrapper {
		width: 90%; //Added to allow long answers to wrap rather than start on line below label.q-radio
	}


} // end if $radio-buttons == T
/* End Radio Buttons */


/* Start Label Styles */

	//If radio buttons is FALSE - 
		// hide ALL radio button inputs
		// IE8 bring back just non-MC radio buttons
@if $radio-buttons == F {

	.Skin input[type="radio"],
	.Skin input[type="checkbox"] {
		position: absolute;
		//left: -9999px; //removed for /*new radio position absolute z -1*/ so the quesiton doesn't jump when clicking
		opacity:0;//added for /*new radio position absolute z -1*/ so the quesiton doesn't jump when clicking
		z-index:-1;//added for /*new radio position absolute z -1*/ so the quesiton doesn't jump when clicking
		height:0;
		width:0;

		// Bring back native radio buttons and checkboxes for IE8-
		position:relative\9;
		opacity:1\9;
		z-index:1\9;
		height:auto\9;
		width:auto\9;	
	}

	.Skin .MC input[type="radio"],
	.Skin .MC input[type="checkbox"],
	.Skin .Matrix .Profile input[type="radio"],
	.Skin .Matrix .Profile input[type="checkbox"],
	.Skin .GAP .Why input[type="radio"],
	.Skin .GAP .Why input[type="checkbox"]	{
		// Hide again (override IE8 styles above) for IE8 on .MC (and for Matrix Profile and GAP)
		position: absolute;
		//left: -9999px; //removed for /*new radio position absolute z -1*/ so the quesiton doesn't jump when clicking
		opacity:0;//added for /*new radio position absolute z -1*/ so the quesiton doesn't jump when clicking
		z-index:-1;//added for /*new radio position absolute z -1*/ so the quesiton doesn't jump when clicking
		height:0;
		width:0;
		&:focus {
			outline: none; // This was showing up in IE (even though the radio buttons are supposed to be hidden)
		}
	}

	.Skin .Matrix .Profile label.q-radio,
	.Skin .Matrix .Profile label.q-checkbox,
	.Skin .GAP .Why label.q-radio,
	.Skin .GAP .Why label.q-checkbox {
		display: none; // hide the styled radio buttons for Matrix Profile questions, for "no radio buttons" themes
	}
	.Skin .GAP .Why.Scale label.q-radio,
	.Skin .GAP .Why.Scale label.q-checkbox {
		display: inline-block; // unhide the styled radio button for the "Scale" part of GAP analysis -- inline-block is the display of other label.q-radio elements
		display: none\9;
	}
	.Skin .GAP .Why.Scale input[type="radio"],
	.Skin .GAP .Why.Scale input[type="checkbox"] {
		// Bring back THESE native radio buttons and checkboxes for IE8-
		position:relative\9;
		opacity:1\9;
		z-index:1\9;
		height:auto\9;
		width:auto\9;	
		&:focus {
			outline: 1px dotted #aaa\9; //Not sure why initial or inherit won't work here.  
		}
	}
	.Skin .GAP .ChoiceStructure .WhyText, .Skin .GAP .Why, .Skin .GAP .Scale {
		padding: 4px; // give some space between the WHY elements in GAP analysis questions.  
	}

	// Just adds some space between the answer label (inside td) and the textbox below
	.Skin .MC .TextEntryBox {
		margin-top: 8px;
	}
	@if $label-style == 1 {	// BOOKMARK: Makes these look more like text entry boxes. Maybe?
		.Skin .TextEntryBox {
			-webkit-box-shadow: inset 1px 1px 5px #ccc;
			-moz-box-shadow: inset 1px 1px 5px #ccc;
			box-shadow: inset 1px 1px 5px #ccc;
		}
	}

	@media only screen and (min-width: 481px) {
		.Skin .MC .ChoiceStructure {
			border-spacing: $answer-label-spacing;
		}
	}

	// /* Centers text entry boxes in spans*/
	.Skin .LabelWrapper {
		text-align: center;
		width: 100%;
	}

	.Skin .MC .SAHR table td,
	.Skin .MC .MAHR table td,
	.Skin .MC li .LabelWrapper {
		margin: 0 auto $answer-label-spacing auto;
	}

	.Skin .MC .SACOL .ChoiceStructure,
	.Skin .MC .MACOL .ChoiceStructure {
		border-spacing: $answer-label-spacing / 2;
	}

	// //BOOKMARK: The reason we want this as display: none, is to fix the formatting of MACOL and SACOL questions. 
	// // PROBLEM: the .ControlContainer holds an input in some questions.  Can't remove or it is unselectable in IE. 
	// // Another Problem: even on Chrome, you can't track tabbing through the survey (focus class) if this isn't here because there's no input.   
	// .Skin .MACOL, .Skin .SACOL {
	// 	.ControlContainer {
	// 		display: none; // BOOKMARK: Will this be OK?  TEST MACOL and SACOL questions really well.   
	// 		display: table-cell\9;
	// 	}
	// }
	// /* General label styles */
	.Skin .QuestionBody label.SingleAnswer,
	.Skin .QuestionBody label.MultipleAnswer {
		@if $label-style == 1 {
			background: $answer-label-background;
			border: $answer-label-border;
		} @elseif $label-style == 2 {
			background: $answer-label-background-2-backup;
			background: $answer-label-background-2;
			border: $answer-label-border-2;
			@if $body-background-image-on == T and $boxed-skincontent == F {
				@if $overlay-dark == T {
					background: #555; // IE Backup
					background: $answer-label-background-2-transparent-light;
				} @elseif $overlay-dark == F {
					background: #EEE; // IE Backup
					background: $answer-label-background-2-transparent-dark;
				}
			}
		}
		// cursor: pointer; BOOKMARK: Do we want this or not?
		transition: background-color .2s ease-in-out;
		padding: 10px;
		@media all and (min-width: 481px) {
			padding: 20px;
		}
		display: block;
		text-align: center;
		@if $border-radius-on == T {
			@include border-radius($default-border-radius);
		}
		@media only screen and (min-device-width: 1025px) { // Don't want hover state to apply to touch devices <= iPad landscape (1024px) //BOOKMARK: apply this to all or most hover states (including Answer labels)
			&:hover {
				background: $primary-hue-color-light;
				border-color: darken($primary-hue-color-light, 10%);
				@if $body-background-image-on == T and $boxed-skincontent == F {
					@if $label-style == 1 {
						background: transparent;
						border-color: darken($primary-hue-color-light, 20%);
					} @elseif $label-style == 2 {
						@if $overlay-dark == T {
							background: #333; // IE Backup
							background: darken($answer-label-background-2-transparent-light, 30%);
						} @elseif $overlay-dark == F {
							background: #DDD; // IE Backup
							background: opacify($answer-label-background-2-transparent-dark, .15);
						}
					}
				}
			}	
		}
		&.q-checked {
			background: $answer-label-select-background;
			border-color: darken($answer-label-select-background, 10%);
			color: $answer-label-select-color;			
		}
	}

	.Skin .SAVR .QuestionBody label.SingleAnswer,
	.Skin .MAVR .QuestionBody label.MultipleAnswer {
		text-align: left;
	}

	//Makes these wider. Not sure what's going on here exactly, or if it's needed -- Decided to take it out: //This is making them drop to a new line below radio button, on small window widths. 
	// Found out it's necessary for the no radio buttons to have margin between the VR lis (not sure why) 
	.Skin .MC .SAVR input,
	.Skin .MC .SAVR span.LabelWrapper,
	.Skin .MC .MAVR input,
	.Skin .MC .MAVR span.LabelWrapper{
		float:left; 
	}

	.Skin label.SingleAnswer.q-checked {
		@media only screen and (min-device-width: 1025px) { // Don't want hover state to apply to touch devices <= iPad landscape (1024px) //BOOKMARK: apply this to all or most hover states (including Answer labels)
			&:hover {
				background: $answer-label-select-background;
				border-color: darken($answer-label-select-background, 10%);
				// color: $answer-label-select-color; //
			}
		}
	}
	.Skin label.MultipleAnswer.q-checked {
		@media only screen and (min-device-width: 1025px) { // Don't want hover state to apply to touch devices <= iPad landscape (1024px) //BOOKMARK: apply this to all or most hover states (including Answer labels)
			&:hover {
				//Change color for MultipleAnswer (but not SingleAnswer), because you can click these again.
				background: darken($answer-label-select-background, 5%);
				border-color: darken($answer-label-select-background, 15%);
				color: #fff;
			}
		}
	}

	//BOOKMARK: is this a good idea?
	.Skin label.SingleAnswer.q-checked + input,
	.Skin label.MultipleAnswer.q-checked + input {
		border-color: $primary-color;
	}

	.Skin .SAHR td.LabelContatiner,
	.Skin .MAHR td.LabelContatiner,
	.Skin .SACOL td.LabelContatiner,
	.Skin .MACOL td.LabelContatiner {
		//Aligns the labels when there's a .TextEntryBox
		vertical-align: top;
	}
	//Hide q-radio/checkbox for label questions
	.Skin .MC label.q-radio,
	.Skin .MC label.q-checkbox {
		display: none;
	}
	// .Skin .SACOL label.SingleAnswer,
	// .Skin .MACOL label.MultipleAnswer {
	// 	//If a single word is too long, it will break rather than spill over -- not a good idea, I guess. It also breaks something small like 10 into 1 and 0. 
	// 	word-break: break-word; 
	// }


} // end if $radio-buttons == F
/* End Label Styles */


// End LABEL STYLES


//BELOW IS A TEST to make large questions expand the width of the survey
//So far this has been successful (9/15/14)
@if $full-width-header == T {
	@media (min-width: 980px) {
		.Skin #SkinContent {
			display: table;
			min-width: $container-min-width;
		}
	}
	// And this is because IE8 doesn't do media queries.  
	.Skin #SkinContent {
		display: table\9;
		min-width: $container-min-width \9;
	}	
} @elseif $full-width-header == F {
	@media (min-width: 980px) {
		.Skin .SkinInner {
			display: table;
			min-width: $container-min-width;
		}
	}
	// And this is because IE8 doesn't do media queries.  
	.Skin .SkinInner {
		display: table\9;
		min-width: $container-min-width \9;
	}	
}


