ul, li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0pt;
  padding: 0pt;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

legend {
  font-size: 100%;
}

.clear {
  clear: both;
}

.zero {
  font-size: 0;
  height: 0;
}

th {
  font-style: normal;
  font-weight: normal;
  text-align: left;
}

caption {
  display: none;
}

a img {
  border: none;
}

img {
  max-width: 100%;
  height: auto !important;
}

fieldset {
  border: none;
}

h2.noStyle {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Skin .QuestionBody {
  -webkit-user-select: none;
  cursor: default;
}

#ServerTime {
  display: none;
}

.Skin .ValidationErrorHighlight .Inner {
  background: rgba(255, 10, 10, 0.3);
}

.Skin legend {
  white-space: normal;
  width: 100%;
}

.Skin .ValidationError.Sub {
  font-size: 90%;
  font-weight: normal;
  padding: 5px;
  position: relative;
  top: 5px;
  white-space: nowrap;
}

.Skin .AccessibleQuestionBody {
  border: none;
}

.Skin .AccessibleQuestionBody legend {
  padding-left: 0;
  width: 100%;
  color: inherit;
}

.Skin .SkinBody {
  padding: 6pt 3pt;
}

.Skin .focused {
  background-color: #fff7c0;
}

.Skin .QuestionText .UserTable {
  border: 1px solid #333;
  margin: 1px;
  border-collapse: collapse;
}

.Skin .QuestionText .UserTable td,
.Skin .QuestionText .UserTable th {
  border: 1px solid #333;
  padding: 0.5em 1em;
  text-align: center;
}

.QuestionText .ExportTag {
  font-style: italic;
}

.Skin .ChoiceGroup {
  color: #888;
}

.Skin .ChoiceGroupStructure {
  margin-left: 10px;
}

.Skin .ChoiceGroupStructure.HiddenTitle {
  margin-left: 0px;
}

.Skin .IndentLevel1 {
  margin-left: 10px;
}

.Skin .IndentLevel2 {
  margin-left: 20px;
}

.Skin .IndentLevel3 {
  margin-left: 30px;
}

.Skin .IndentLevel4 {
  margin-left: 40px;
}

.Skin .IndentLevel5 {
  margin-left: 50px;
}

.Skin .IndentLevel6 {
  margin-left: 60px;
}

.Skin .DB .VRP .QuestionBody,
.Skin .DB .ARP .QuestionBody,
.Skin .DB .VWM .QuestionBody,
.Skin .DB .AWM .QuestionBody {
  text-align: center;
}

.Skin .DB .FLB .QuestionBody .NoFileMessage {
  color: #808080;
}

.Skin .MC .SAVR .SkinBody,
.Skin .MC .MAVR .SkinBody,
.Skin .MC .SACOL .SkinBody,
.Skin .MC .MACOL .SkinBody {
  padding: 6pt 0pt 0pt 0pt;
}

.Skin .MC td input.radio,
.Skin .MC td input.checkbox,
.Skin .MC .QuestionBody td label {
  margin-top: 4px;
  margin-bottom: 4px;
}

.Skin .MC input.radio,
.Skin .MC input.checkbox {
  margin-left: 7px;
  margin-right: 7px;
  background: red;
}

.Skin .MC .QuestionText li {
  padding: 0px;
}

.Skin .MC .QuestionText li {
  float: none;
}

.Skin .MC .SB .SkinBody,
.Skin .MC .MSB .SkinBody {
  text-align: center;
}

.Skin .MC .SAHR li,
.Skin .MC .MAHR li {
  padding-right: 9pt;
}

.Skin .Matrix .ColumnLabels table {
  width: 100%;
}

.Skin .Matrix table th.FullChoiceRow {
  text-align: left;
}

.Skin #SkinContent .Matrix.CombinedQuestion table tbody th {
  text-align: right;
}

.Skin #SkinContent .Matrix table tbody th.SubHeading {
  font-weight: bold;
  text-align: left;
}

.Skin .Matrix table td.FullChoiceRow {
  text-align: left;
}

.Skin .Matrix td.ColumnLabels tr.SpreadLabels td.First,
.Skin .Matrix td.ColumnLabels tr.SpreadLabels th.First {
  text-align: left;
}

.Skin .Matrix td.ColumnLabels tr.SpreadLabels td.Last,
.Skin .Matrix td.ColumnLabels tr.SpreadLabels th.Last {
  text-align: right;
}

.Skin .Matrix table tr th.ColumnLabels,
.Skin .Matrix table tr.ColumnLabels td,
.Skin .Matrix table tr.ColumnLabelHeader th,
.Skin .Matrix table tr.ColumnLabelHeader td {
  border-style: none;
}

.Skin .Matrix .RepeatHeader {
  vertical-align: bottom;
}

.Skin .Matrix .WhiteSpace td {
  height: 25px;
}

.Skin .Matrix table td.SymbolCell {
  white-space: nowrap;
}

.Skin .Matrix .DL .Transposed table td.last {
  text-align: center;
}

.Skin .Matrix .Profile tr.LabelRow td {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 80%;
}

.Skin .Matrix .CS .transposed tr.CSTotal th {
  border-top-color: #333;
  color: #333;
  text-align: left;
  font-weight: bold;
}

.Skin .Matrix .CS tr.CSTotal td.TextAbove {
  text-align: left;
}

.Skin .DynamicMatrix .TE input {
  width: auto;
  background: red;
}

.Skin .DynamicMatrix .LogicEditor .ExpressionSet .Expression {
  border: none;
  background: none;
}

.Skin input.Searching {
  background: white url("../WRQualtricsShared/Graphics/spinner.gif") no-repeat right 2px;
}

.Skin .horizontalbar tr.xlabel th div {
  position: relative;
}

.Skin .horizontalbar table.sliderGrid tr.xlabel th div span {
  /* to make them shift right and align to the grid lines */
  position: absolute;
  left: 15px;
  top: -25px;
}

.Skin .horizontalbar table.sliderGrid tr.xlabel th.value div span {
  /* total th should be aligned right */
  position: absolute;
  right: 0px;
  top: -25px;
  text-align: right;
}

.Skin .horizontalbar table.sliderGrid tr td.totalValue {
  text-align: left;
  border: none;
  font-weight: bold;
}

.Skin .horizontalbar table.sliderGrid tr td.totalValue input {
  width: 80px;
  background-color: transparent;
  border: none;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}

.Skin .horizontalbar table.sliderGrid tr th.total {
  padding: 5px;
  text-align: right;
  border: none;
  font-weight: bold;
}

.Skin .horizontalbar .barTd,
.Skin .horizontalbar .yLabelTicksTd {
  position: relative;
  vertical-align: top;
  border-bottom: 1px solid #cccccc;
  /*float:left;  this puts the relative left at the start of the td instead of the screen */
}

.Skin .horizontalbar .yLabelTicksTd .labelTicks div {
  position: absolute;
  top: .2em;
  text-align: right;
  font-size: 80%;
}

.Skin .SS .QuestionBody table.ChoiceStructure {
  text-align: center;
  width: auto;
}

.Skin .QuestionOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: white;
  opacity: 0;
  filter: alpha(opacity=0);
}

.SkinTable #Buttons .ButtonText, .Skin #Buttons .ButtonText {
  text-align: center;
}

#SurveyEngineBody .debug {
  font-size: 12pt;
}

#SurveyEngineBody .debug pre {
  font-size: 9pt;
}

#SurveyEngineBody .HideSelects select {
  display: none !important;
  /* For Look and Feel survey preview - hides selects under the Skins menu */
}

.Skin .SurveyError {
  padding: 10px;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  /* border-style: solid;
  border-width: 2px; */
}

.Skin .SurveyError h1,
.Skin .SurveyError h2,
.Skin .SurveyError h3 {
  font-size: 100%;
  font-weight: normal;
}

.Skin .SurveyError h1 {
  /*text-align: center;*/
}

.Skin .SurveyError h2,
.Skin .SurveyError h3 {
  padding-top: 10px;
}

.Skin .SurveyError h2 {
  font-weight: bold;
  font-size: 110%;
}

.Skin .SurveyError h3 {
  font-size: 80%;
}

.Skin .PreviewResults em {
  font-weight: normal;
  font-size: 80%;
}

.Skin .PreviewResults ul,
.Skin .PreviewResults li {
  padding-top: 5px;
}

* html .Skin .LeadGenerator div {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../WRQualtricsShared/Graphics/leadGenerator.png", sizingMethod="crop");
}

.Skin .LeadGenerator {
  text-align: center;
  padding-top: 10px;
  font-family: tahoma;
}

.Skin .LeadGenerator .imageHolder {
  border: 0px;
  width: 532px;
  height: 176px;
  background: url(../WRQualtricsShared/Graphics/leadGenerator.png) no-repeat;
  line-height: 24px;
  margin: auto;
}

.Skin .LeadGenerator .imageHolderOuter {
  width: 534px;
  height: 178px;
  margin: auto;
}

.Skin .LeadGenerator .imageHolder div {
  padding-top: 68px;
}

.Skin .LeadGenerator a {
  text-decoration: none;
  display: block;
  width: 528px;
  margin: auto;
  cursor: pointer;
}

.Skin .LeadGenerator .PoweredBy {
  font-size: 11pt;
  color: #4d4d4d;
}

.Skin .LeadGenerator .Invite {
  font-size: 13pt;
  color: #4d4d4d;
}

.Skin .LeadGenerator .ClickHere {
  color: #b3131a;
  font-weight: bold;
}

.ValidationConfirm .Q_Window {
  text-align: center;
  padding: 25px;
}

.Skin label.QuestionText {
  display: block;
}

.Skin .QuestionOuter {
  -ms-overflow-style: none;
  overflow-y: hidden;
}

.Skin .QuestionBody table.ChoiceStructure {
  width: 100% !important;
}

.Skin .QuestionBody ul.ChoiceStructure {
  zoom: 1;
}

.Skin .QuestionText {
  zoom: 1;
}

.Skin .LanguageSelectorContainer {
  text-align: right;
}

.LanguageSelectorContainer a {
  color: black;
}

.Skin .HeaderValidationError li {
  clear: both;
}

.Skin .HeaderValidationError li a {
  cursor: pointer;
}

.Skin .MC li.reg {
  background-color: transparent;
}

.Skin .MC .QuestionBody label {
  /* IE puts the label 1px higher 
  http://stackoverflow.com/questions/8557367/css-label-vertical-alignment-with-input-fields */
  vertical-align: 1px;
}

.Skin .MC .SAVR li,
.Skin .MC .MAVR li {
  clear: left;
}

.Skin .MC .SAVR input,
.Skin .MC .SAVR span.LabelWrapper,
.Skin .MC .MAVR input,
.Skin .MC .MAVR span.LabelWrapper {
  float: left;
}

.Skin .MC .MAVR input.TextEntryBox,
.Skin .MC .SAVR input.TextEntryBox {
  float: none !important;
  display: block;
  clear: both;
}

.Skin .MC .SAHR table td,
.Skin .MC .MAHR table td,
.Skin .NPS table td {
  text-align: center;
}

.Skin .MC .SAHR .QuestionBody table td label,
.Skin .MC .MAHR .QuestionBody table td label {
  margin-right: 0px;
}

.Skin .NPS table .ColumnLabels .First {
  text-align: left;
}

.Skin .NPS table .ColumnLabels .Center {
  text-align: center;
}

.Skin .NPS table .ColumnLabels .Last {
  text-align: right;
}

.Skin .Matrix table {
  border-collapse: separate;
}

.Skin .Matrix table td,
.Skin .Matrix table th {
  text-align: center;
  padding: 5px 0;
}

.Skin .Matrix .TE td input {
  display: inline-block;
}

.Skin .Matrix .TE .Short td input {
  width: 30px;
  width: 3em;
}

.Skin .Matrix .TE .Medium td input {
  width: 60px;
  width: 6em;
}

.Skin .Matrix .TE .Long td input {
  width: 90px;
  width: 9em;
}

.Skin .Matrix table th.c1 {
  text-align: left;
}

.Skin .Matrix .Bipolar td.AnswerLeft,
.Skin .Matrix .Bipolar th.AnswerLeft {
  text-align: left;
  width: 50%;
}

.Skin .Matrix .Bipolar td.AnswerRight,
.Skin .Matrix .Bipolar th.AnswerRight {
  text-align: right;
  width: 50%;
}

#SurveyEngineBody .Skin .Matrix .Bipolar td.AnswerRight,
#SurveyEngineBody .Skin .Matrix .Bipolar th.AnswerRight {
  text-align: right !important;
  width: 50%;
}

.Skin .Matrix .Bipolar .QuestionBody td.AnswerRight label,
.Skin .Matrix .Bipolar .QuestionBody th.AnswerRight label {
  zoom: 1;
}

.Skin .TE .FORM span.LabelWrapper {
  padding-right: 2em;
}

.Skin .TE .ChoiceStructure .Short {
  width: 30px;
  width: 3em;
}

.Skin .TE .ChoiceStructure .Medium {
  width: 60px;
  width: 6em;
}

.Skin .TE .ChoiceStructure .Long {
  width: 90px;
  width: 9em;
}

.Skin .TE .ML textarea {
  height: 4em;
}

.Skin .TE .ESTB textarea {
  height: 8em;
}

.Skin .TE .ChoiceStructure .Essay {
  width: 100%;
  height: 4em;
}

.Skin .horizontalbar tr.xlabel th {
  position: relative;
}

.Skin .LabelDescriptionsContainer {
  width: 100%;
}

.Skin .LabelDescriptions {
  position: relative;
  width: 100%;
}

.Skin .horizontalbar thead table.LabelDescriptions tr td,
.Skin .horizontalbar thead tr td.NotApplicable {
  text-align: center;
}

.Skin .horizontalbar table.LabelDescriptions .LabelCount3 td.First,
.Skin .horizontalbar table.LabelDescriptions .LabelCount2 td.First {
  text-align: left;
}

.Skin .horizontalbar table.LabelDescriptions .LabelCount3 td.Last,
.Skin .horizontalbar table.LabelDescriptions .LabelCount2 td.Last {
  text-align: right;
}

.Skin .horizontalbar table.LabelDescriptions.CenterLabels td.LightText {
  text-align: center;
}

.Skin .horizontalbar table.LabelDescriptions.CenterLabels .LabelCount3 td.First label,
.Skin .horizontalbar table.LabelDescriptions.CenterLabels .LabelCount2 td.First label {
  position: relative;
  left: -50%;
}

.Skin .horizontalbar table.LabelDescriptions.CenterLabels .LabelCount3 td.Last label,
.Skin .horizontalbar table.LabelDescriptions.CenterLabels .LabelCount2 td.Last label {
  position: relative;
  left: 50%;
}

.Skin .horizontalbar thead th span.TickContainer,
.Skin .horizontalbar thead td span.TickContainer {
  position: relative;
  display: block;
  height: 15px;
  margin-bottom: 1px;
  white-space: nowrap;
}

.Skin .horizontalbar tr.xlabel th span.TickContainer span,
.Skin .horizontalbar tr.xlabel td span.TickContainer span {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 50%;
  text-align: center;
}

.Skin .horizontalbar tr.xlabel th span.TickContainer span.MinValue,
.Skin .horizontalbar tr.xlabel td span.TickContainer span.MinValue {
  left: -50%;
}

.Skin .horizontalbar .LeftBorder {
  width: 1px;
  font-size: 0px;
}

.Skin .horizontalbar .RightBorder {
  width: 1px;
  font-size: 0px;
}

.Skin .horizontalbar .BarOuter {
  width: 1px;
  font-size: 0px;
}

.Skin .horizontalbar td.BarOuter {
  vertical-align: middle;
}

.Skin .horizontalbar .BarContainer {
  position: relative;
  top: -10px;
}

.Skin .horizontalbar {
  zoom: 1;
}

.Skin .horizontalbar .bar,
.Skin .horizontalbar .handle,
.Skin .horizontalbar .track {
  height: 20px;
  -ms-touch-action: none;
}

.Skin .horizontalbar .track {
  position: absolute;
  width: 3000px;
  top: 0px;
  z-index: 1000;
}

.Skin .horizontalbar .bar,
.Skin .horizontalbar .handle {
  top: 0px;
}

.Skin .horizontalbar .bar {
  position: absolute;
  left: 0px;
  width: 100px;
  z-index: 500;
  font-size: 0;
}

.Skin .horizontalbar .handle {
  position: absolute;
  width: 1px;
  height: 1px;
  cursor: move;
  z-index: 500;
}

.Skin .horizontalbar table.sliderGrid {
  empty-cells: show;
  overflow: visible;
  border-collapse: collapse;
}

.Skin .horizontalbar table.sliderGrid tr td.value {
  width: 1px;
  text-align: center;
  padding-left: 10px;
}

.Skin .horizontalbar tr.Stars td.value input,
.Skin .horizontalbar table.sliderGrid tr td.value input {
  background-color: transparent;
  border: none;
}

.Skin .horizontalbar th.ylabel {
  text-align: right;
}

.Skin .horizontalbar thead .NotApplicable {
  overflow: visible;
}

.Skin .horizontalbar tbody .NotApplicable {
  text-align: center;
}

.Skin .horizontalbar .trackHolderRel {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px;
  background: red;
}

.Skin .horizontalbar .Slider .BarContainer {
  top: -15px;
}

.Skin .horizontalbar .Slider tbody th.ylabel {
  padding: 15px;
}

.Skin .SS .horizontalbar .SSTrack,
.Skin .horizontalbar .Slider .track {
  height: 8px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  top: 10px;
  border-radius: 40px;
}

.Skin .horizontalbar .Slider .bar {
  display: none;
}

.Skin .SS .horizontalbar .handle,
.Skin .horizontalbar .Slider .handle {
  width: 20px;
  height: 20px;
  top: -6px;
  border-radius: 100%;
}

.Skin .SS .SSTrack:hover,
.Skin .horizontalbar .Slider .activated .track,
.Skin .horizontalbar .Slider .BarContainer:hover .track {
  opacity: 1;
  filter: alpha(opacity=100);
}

.Skin .horizontalbar .Slider .track div {
  filter: none;
}

.Skin .STAR .Stars th.ylabel,
.Skin .STAR .Stars td,
.Skin .Slider .STAR .horizontalbar table.sliderGrid tr td.value,
.Skin .STAR .Stars table td.BarOuter {
  border: none;
}

.Skin .STAR .horizontalbar table.sliderGrid {
  table-layout: auto;
}

.Skin .STAR .horizontalbar table.sliderGrid tr td.value {
  width: auto;
  text-align: left;
}

.Skin .STAR .Stars tbody tr {
  height: 46px;
}

.Skin .STAR tr.HideValue td.BarOuter {
  width: auto;
}

.Skin .STAR .BarContainer {
  top: 0px;
}

.Skin .STAR .StarsStrut {
  white-space: nowrap;
}

.Skin .STAR .StarsContainer,
.Skin .STAR .StarsEventWatcher,
.Skin .STAR .StarsContainer .Filled {
  height: 26px;
  background: transparent url("../Graphics/stars.png") 0px 0px;
}

.Skin .STAR .StarsOuterContainer {
  margin: 10px;
}

.Skin .STAR .StarsContainer {
  background-position: 0px -27px;
  position: relative;
}

.Skin .STAR .StarsEventWatcher {
  top: 0px;
  left: 0px;
  position: absolute;
  background-image: none;
}

.Skin .STAR .StarsContainer .Filled {
  background-position: 0px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.Skin .STAR .StarsContainer .StarsOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
}

.Skin .STAR .StarsContainer .Star {
  width: 36px;
  height: 30px;
  background: transparent url("../Graphics/stars.png") 0px 0px;
  float: left;
}

.Skin .RO .RankInput {
  width: 3em;
  margin-left: 20px;
}

.Skin .RO .RB .ChoiceStructure thead th,
.Skin .RO .RB .ChoiceStructure tbody td {
  text-align: center;
}

.Skin .RO .SB .ChoiceStructure,
.Skin .RO .SB .ChoiceStructure select,
.Skin .RO .SB .ChoiceStructure .Center {
  width: 100%;
}

.Skin .RO .HR li {
  float: left;
}

.Skin .SBS thead th,
.Skin .SBS td {
  text-align: center;
}

.Skin .SBS .Short {
  width: 30px;
  width: 3em;
}

.Skin .SBS .Medium {
  width: 60px;
  width: 6em;
}

.Skin .SBS .Long {
  width: 90px;
  width: 9em;
}

.Skin .SBS .Essay {
  width: 100%;
  height: 4em;
}

.SBS table.ChoiceStructure {
  border-collapse: collapse;
}

.Skin .CS .SumInput,
.Skin .CS .SumTotal {
  white-space: nowrap;
  width: 100%;
  max-width: 3em;
  display: inline-block;
}

.Skin .CS .SumInput input,
.Skin .CS .SumTotal input {
  width: 100%;
  max-width: 3em;
}

.Skin .CS .VRTL li {
  position: relative;
  _height: 26px;
  min-height: 26px;
  zoom: 1;
  padding-right: 150px;
  /* Gives space at right, so text doesn't overlap into text entry box */
}

.Skin .CS .VRTL .SumInput,
.Skin .CS .VRTL .SumTotal {
  position: absolute;
  right: 4px;
  top: 0px;
}

.Skin .CS .HR li {
  float: left;
}

.Skin #SkinContent .RO .DND .QuestionBody {
  overflow: visible;
}

.Skin .RO .DND ul {
  width: 100%;
}

.Skin .RO .DND ul li {
  cursor: move;
  position: relative;
  zoom: 1;
}

.Skin .RO .DND ul.NotEdited .rank {
  visibility: hidden;
}

.Skin .RO .DND ul.Edited .rank,
.Skin .RO .DND ul.NotEdited li:hover .rank {
  visibility: visible;
}

.Skin .PGR td.itemsContainerTd {
  vertical-align: top;
}

.Skin .PGR td.groupsContainerTd {
  width: 100%;
}

.Skin .PGR .DragAndDrop td.itemsContainerTd {
  height: 100%;
}

.Skin .PGR .DragAndDrop td.groupsContainerTd {
  vertical-align: top;
}

.Skin .PGR .DragAndDrop td.groupsContainerTd div > div {
  border-collapse: collapse;
  min-height: 150px;
}

.Skin .PGR .DragAndDrop ul {
  list-style: none;
  height: 150px;
  width: 150px;
  border-collapse: collapse;
}

html > body .Skin .PGR .DragAndDrop ul {
  height: auto;
  min-height: 150px;
}

html > body .Skin .PGR .DragAndDrop .stack ul.stack {
  margin: 25px 25px 0 0;
  /* This is to give space for the stacked items, if hanging over the top and right */
}

html > body .Skin .PGR .DragAndDrop .stack div.Group ul.stack {
  margin-left: 20px;
}

.Skin .PGR .DragAndDrop ul li.stack {
  position: absolute;
}

.Skin .PGR .DragAndDrop div ul li span label img {
  max-width: 100%;
}

.Skin .PGR .DragAndDrop .stack div ul li.stack span label {
  width: 187px;
}

/*********************************************
Rank images --- TEST THIS OUT with an image
*********************************************************/
.Skin .PGR .DragAndDrop .stack div ul li.stack span label img {
  width: 187px;
  visibility: visible;
}

.Skin .PGR .DragAndDrop .stack .Group li.stack span.rank {
  visibility: hidden;
}

/*********************************************
Rank images --- TEST THIS OUT with an image
*********************************************************/
.Skin .PGR .DragAndDrop .stack div.Group ul li span img {
  width: 117px;
}

.Skin .PGR .DragAndDrop .stack ul li.stack {
  background-color: white;
}

.Skin .PGR .DragAndDrop .stack ul li.stack.penultimate {
  margin-top: -5px;
  margin-left: 5px;
}

.Skin .PGR .DragAndDrop .stack ul li.stack.antepenultimate {
  margin-top: -10px;
  margin-left: 10px;
}

.Skin .PGR .DragAndDrop .ProgressCounter {
  text-align: center;
}

.Skin .PGR .DragAndDrop .Group h2,
.Skin .PGR .DragAndDrop .Items h2 {
  text-align: center;
  display: block;
}

.Skin .PGR .DragAndDrop .Items {
  height: 100%;
}

.Skin .PGR .DragAndDrop .Group {
  float: left;
}

.Skin .PGR .DragAndDrop .Items ul {
  border: none;
  height: 150px;
}

html > body .Skin .PGR .DragAndDrop .Items ul {
  min-height: 150px;
  height: auto;
}

.Skin .PGR .DragAndDrop .Group ul,
.Skin .PGR .DragAndDrop .Group h2,
.Skin .PGR .DragAndDrop .Items ul,
.Skin .PGR .DragAndDrop .Items h2 {
  width: 187px;
}

.Skin .PGR .DragAndDrop .Items ul li .rank {
  display: none;
}

.Skin .PGR .DragAndDrop .QuestionBody label {
  display: block;
  zoom: 1;
  cursor: move;
}

.Skin .PGR .DragAndDrop .clear {
  clear: both;
  visibility: hidden;
}

.Skin .PGR .DragAndDrop .NoColumns td.groupsContainerTd div {
  float: none;
}

.Skin .PGR .DragAndDrop .NoColumns td.groupsContainerTd div ul,
.Skin .PGR .DragAndDrop .NoColumns td.groupsContainerTd div h2 {
  width: 337px;
}

.Skin .PGR .DragAndDrop .NoColumns td.groupsContainerTd div > div {
  width: 337px;
}

.Skin .PGR .DragAndDrop .rank {
  position: absolute;
  top: 0;
}

.Skin .PGR .DragAndDrop ul li {
  position: relative;
  cursor: move;
}

.Skin .PGR .ItemsNoDnd select {
  width: 185px;
}

.Skin .PGR .ItemsNoDnd h2,
.Skin .PGR .GroupNoDnd h2 {
  text-align: center;
  font-size: 16px;
}

.Skin .PGR .GroupNoDnd h2 {
  border-width: 0 0 1px 0;
  border-style: solid;
  padding: 5px;
}

.Skin .PGR .groupsContainerTd .inner td.groupContainer {
  padding: 10px 0 0 10px;
}

.Skin .PGR .GroupNoDnd {
  width: 185px;
}

.Skin .PGR .GroupNoDnd {
  border-width: 1px;
  border-style: solid;
}

.Skin .PGR .GroupNoDnd .inner {
  padding: 5px;
}

.Skin .PGR .GroupNoDnd .GroupItems,
.Skin .PGR .GroupNoDnd .GroupItems th,
.Skin .PGR .GroupNoDnd .GroupItems th select {
  width: 100%;
}

.Skin .PGR .GroupNoDnd .GroupItems td {
  width: 30px;
}

.Skin .PGR .GroupNoDnd h2 .GetItems,
.Skin .PGR .GroupNoDnd .GroupItems td input {
  white-space: nowrap;
  width: 25px;
}

.Skin .PGR .NumGroups {
  margin-top: 5px;
}

.Skin .PGR .QuestionBody .ChoiceStructure .LabelWrapper ul {
  min-height: 0;
}

.Skin .HotSpot .QuestionBody {
  position: relative;
}

.Skin .HotSpot .HotSpotContainer {
  position: relative;
  margin: 0 auto;
}

.Skin .HotSpot .HotSpotContainer img {
  cursor: pointer;
}

.Skin .HotSpot .HotSpotRegions {
  position: absolute;
  top: 0;
  left: 0;
}

.Skin .HotSpot .Region {
  display: block;
  position: absolute;
  outline: 0;
}

.Skin .HotSpot .Region:hover {
  border: 1px solid #666666;
}

.Skin .HotSpot .Region:hover .RegionInner {
  border: 1px solid #FFFFFF;
}

.Skin .HotSpot .RegionInnerInner {
  background-color: #FFFFFF;
  filter: alpha(opacity=0);
  opacity: 0.0;
}

.Skin .HotSpot .Like .RegionInner .RegionInnerInner {
  background-color: #0F0;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.Skin .HotSpot .Dislike .RegionInner .RegionInnerInner {
  background-color: #F00;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.Skin .HotSpot a.Region {
  text-decoration: none;
}

.Skin .HotSpot .Region span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.Skin .HotSpot .Region:hover span {
  bottom: 3px;
  right: 3px;
}

.Skin .HotSpot .Like span {
  background: transparent url("../Graphics/qicons.gif") -20px -5px no-repeat;
  width: 16px;
  height: 13px;
}

.Skin .HotSpot .Dislike span {
  background: transparent url("../Graphics/qicons.gif") -3px -3px no-repeat;
  width: 15px;
  height: 15px;
}

.Skin .SS .SSImage img {
  margin: 0px auto;
}

.Skin .SS .SSDisplay,
.Skin .SS .ChoiceStructure table.SSDisplay {
  width: 200px;
  margin: 0 auto;
}

.Skin .SS .SSDisplay .SSTrack,
.Skin .SS .SSDisplay .handle {
  position: absolute;
  display: block;
}

.Skin .SS .verticalbar,
.Skin .SS .horizontalbar .SSTrack {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.Skin .SS .verticalbar .SSTrack {
  position: relative;
  width: 8px;
  height: 120px;
  float: left;
  opacity: .5;
  filter: alpha(opacity=50);
  border-radius: 20px;
}

.Skin .SS .SSTrack.activated,
.Skin .SS .verticalbar .SSTrack:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.Skin .verticalbar .SSTrack .handle {
  height: 20px;
  width: 20px;
  background: red;
  cursor: move;
  overflow: hidden;
  border-radius: 100%;
  left: -6px;
}

.Skin .SS .Container {
  width: 100%;
}

.Skin .SS .QuestionBody {
  width: 40%;
}

.Skin .SS .ChoiceStructure table {
  margin: 0 auto;
}

.Skin .GAP .ChoiceStructure {
  width: 100%;
}

.Skin .GAP .ChoiceStructure .WhyText,
.Skin .GAP .Why,
.Skin .GAP .Scale {
  text-align: center;
}

.Skin .GAP .GAPArrow {
  width: 16px;
  height: 16px;
  margin: auto;
  margin-top: 2px;
  background-image: url("../Graphics/GAPRightArrow.gif");
}

.Skin .GAP .TextEntryBox {
  display: block;
}

.Skin .GAP .LightBG {
  background: #cccccc;
}

.Skin .GAP .bottom .c5 {
  border-bottom-left-radius: 10px;
}

.Skin .GAP .ChoiceStructure thead .c5 {
  border-top-left-radius: 10px;
}

.Skin .GAP .ChoiceStructure thead .c6 {
  border-top-right-radius: 10px;
}

/* Display the clock on a timer question to see all this
*/
.Skin .Timing .QuestionText {
  margin-top: 6pt;
}

.Skin .Timing input {
  width: 4em;
}

.Skin .Timing li {
  padding: 3px;
}

.Skin .Timing .QuestionBody li label {
  width: 20em;
}

.FlipClock {
  background-color: #333;
  padding: 2px;
  border-radius: 2px;
  margin: 10px auto;
  float: left;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.FlipClock:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.FlipClock > span {
  background-color: #000;
  padding: 1px;
  margin: 2px 3px;
  display: block;
  float: left;
  position: relative;
  perspective: 40px;
  -moz-perspective: 40px;
  -webkit-perspective: 40px;
}

.FlipClock > span.T1 {
  margin-right: 0;
}

.FlipClock > span.T2 {
  margin-left: 0;
}

.FlipClock span span {
  color: #333;
  text-shadow: 0 1px #FFF;
  background-color: #EFEFEF;
  font-size: 40px;
  display: block;
  height: 40px;
  width: 30px;
  line-height: 40px;
  text-align: center;
}

.FlipClock span span.Number {
  border-radius: 1px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #AAA;
}

.FlipClock span b {
  display: block;
  position: absolute;
  width: 30px;
  height: 0;
  top: 22px;
  left: 1px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #FFF;
  opacity: .3;
  filter: alpha(opacity=30);
  z-index: 5;
}

.FlipClock span .Change {
  position: absolute;
  top: 2px;
  left: 1px;
  height: 20px;
  overflow: hidden;
  transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.FlipClock span .Change.TB {
  line-height: 0;
  height: 20px;
  top: 13px;
  transform: rotateX(91deg);
  -moz-transform: rotateX(91deg);
  -webkit-transform: rotateX(91deg);
  transition-delay: .15s;
  -moz-transition-delay: .15s;
  -webkit-transition-delay: .15s;
  transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
}

.FlipClock span fieldset.Flip .Change.TF {
  transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  top: 12px;
}

.FlipClock span fieldset.Flip .Change.TB {
  transform: rotateX(0);
  -moz-transform: rotateX(0);
  -webkit-transform: rotateX(0);
  top: 22px;
}

/*
Captcha: makes the ugly white box containing the captcha image transparent.
*/
.recaptchatable .recaptcha_image_cell, #recaptcha_table {
  background-color: transparent !important;
  border: none !important;
}

.Skin .recaptchatable {
  border: none;
}

.Skin .Captcha label.QuestionText {
  width: 300px;
}

.Skin .recaptchatable tbody tr td {
  padding: 0px !important;
}

.Skin .Conjoint .Table {
  width: 100%;
}

/* Mixed */
.Skin .Conjoint .LeastMostTable tbody th,
.Skin .Conjoint .LOPTable tbody th,
.Skin .Conjoint .MPUTable tbody th,
.Skin .Conjoint .CSTable tbody th,
.Skin .Conjoint .EliminationTable tbody th {
  padding: 3px 0 3px 0;
}

/** EliminationTable **/
.Skin .Conjoint .EliminationTable {
  margin-top: 20pt;
}

.Skin .Conjoint .EliminationTable thead td {
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 2px;
}

.Skin .Conjoint .EliminationTable tbody td {
  width: 15px;
  padding: 3px;
}

/** LeastMostTable */
.Skin .Conjoint .LeastMostTable {
  margin-top: 24pt;
}

.Skin .Conjoint .LeastMostTable thead td {
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.Skin .Conjoint .LeastMostTable tbody th {
  width: 70%;
}

.Skin .Conjoint .LeastMostTable tbody td {
  text-align: center;
}

.Skin .Conjoint .LeastMostTable .PreferredTextCell {
  text-align: center;
}

.Skin .Conjoint .LeastMostTable td,
.Skin .Conjoint .LeastMostTable th {
  border-right-width: 1px;
  border-right-style: solid;
}

.Skin .Conjoint .LeastMostTable td.Last,
.Skin .Conjoint .LeastMostTable th.Last {
  border-right-width: 0px;
}

/** LOPTable **/
.Skin .Conjoint .LOPTable {
  margin-top: 20pt;
}

.Skin .Conjoint .LOPTable tbody td {
  width: 20px;
  text-align: center;
  border-left-width: 1px;
  border-left-style: solid;
}

.Skin .Conjoint .LOPTable thead th {
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.Skin .Conjoint .LOPTable thead td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  text-align: center;
}

.Skin .Conjoint .LOPTable thead.Small td {
  border-top-width: 1px;
  border-top-style: solid;
}

.Skin .Conjoint .LOPTable thead td.Last,
.Skin .Conjoint .LOPTable tbody td.Last {
  border-right-width: 1px;
  border-right-style: solid;
}

.Skin .Conjoint .LOPTable tbody .Bottom td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/** ULOPTable **/
.Skin .Conjoint .MPUTable thead th {
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 2px;
}

/** CSTable **/
.Skin .Conjoint .CSTable thead td {
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 2px;
}

.Skin .Conjoint .CSTable tfoot td {
  font-weight: bold;
  border-top-width: 1px;
  border-top-style: solid;
}

.Skin .Conjoint .CSTable tfoot input,
.Skin .Conjoint .CSTable tbody input {
  width: 30px;
}

.Skin .Conjoint .CSTable tfoot .Last,
.Skin .Conjoint .CSTable tbody .Last {
  text-align: center;
  padding: 3px;
}

/* Carried Forward choice */
.Skin .CarryForwardSymbol {
  color: #577033;
  /* dark green */
  font-weight: bold;
  font-size: 130%;
  line-height: 70%;
}

/** Drill Down */
.Skin .DD .QuestionBody table.ChoiceStructure {
  width: auto;
}

.Skin .DD .QuestionBody th {
  padding: 4px 10px 4px 0;
}

.Skin .Grading .Inner {
  zoom: 1;
}

.Skin .Grading {
  padding: 0 10px;
}

.Skin .Grading .Inner {
  background: #FFFFC7;
  border: 1px solid #FFDC81;
  padding: 15px;
  color: black;
}

.Skin .Grading .Score {
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.Skin .Grading .ChoiceStructure .Selected .Correct,
.Skin .Grading .Correct {
  color: #00A804;
}

.Skin .Grading .ChoiceStructure .Selected .Incorrect,
.Skin .Grading .Incorrect {
  color: #C00;
}

.Skin .Grading .GradingQuestionText {
  font-weight: bold;
}

.Skin .Grading .ChoiceStructure {
  padding-top: 5px;
}

.Skin .Grading .ChoiceStructure li {
  padding: 5px;
  margin-left: 10px;
}

.Skin .Grading .ChoiceStructure .Icon {
  width: 18px;
  height: 17px;
  float: left;
  margin-right: 5px;
}

.Skin .Grading .ChoiceStructure .Incorrect {
  color: #BF8D8D;
}

.Skin .Grading .ChoiceStructure .Correct {
  color: #8EC292;
}

.Skin .Grading .ChoiceStructure .Selected .Correct .Icon {
  background-image: url(../../WRQualtricsSurveyEngine/SEGraphics/gradingCheck.png);
}

.Skin .Grading .ChoiceStructure .Selected .Incorrect .Icon {
  background-image: url(../../WRQualtricsSurveyEngine/SEGraphics/gradingX.png);
}

.Skin .Grading .ChoiceStructure .Selected {
  font-weight: bold;
}

/* grading table */
.Skin .Grading table.ChoiceStructure .Icon {
  width: 18px;
  height: 17px;
  display: block;
  margin: 0 auto;
  float: none;
}

.Skin .Grading table.ChoiceStructure th {
  font-weight: bold;
}

.Skin .Grading table.ChoiceStructure td,
.Skin .Grading table.ChoiceStructure th {
  padding: 5px;
}

.Skin .Grading table.ChoiceStructure tbody td {
  text-align: center;
}

.Skin .Grading table.ChoiceStructure thead th,
.Skin .Grading table.ChoiceStructure thead td {
  border-bottom: 1px solid #FFDC81;
  text-align: center;
}

.Skin .Grading table.ChoiceStructure tbody th,
.Skin .Grading table.ChoiceStructure thead td {
  border-right: 1px solid #FFDC81;
  padding-left: 7px;
}

.Skin .Grading table.ChoiceStructure .Correct .Icon {
  background-image: url(../../WRQualtricsSurveyEngine/SEGraphics/gradingFadedCheck.png);
}

.Skin .Grading table.ChoiceStructure th.LeftBorder,
.Skin .Grading table.ChoiceStructure td.LeftBorder {
  border-left: 1px solid #FFDC81;
}

.Skin .Grading table.ChoiceStructure .NoRightBorder {
  border-right: none;
}

/** total score **/
.Skin .Grading .TotalScore .Correct,
.Skin .Grading .TotalScore .Incorrect {
  color: #262626;
}

.Skin .Grading .TotalScore .GradingQuestionText {
  line-height: 40px;
}

.Skin .Grading .TotalScore .QuestionBody {
  display: none;
}

.Skin .Grading .TotalScore .GradingQuestionText .Score {
  float: none;
  font-size: 14pt;
  color: #AD8416;
}

.Skin .Grading .TotalScore .GradingQuestionText span {
  vertical-align: middle;
}

.Skin .HeatMapContainer {
  position: relative;
  margin: 0 auto;
}

.Skin .HeatMap .QuestionBody {
  position: relative;
}

/* 
This is the POINT in the middle of where you click
What's something interesting that could go here?  A color? Circle? */
.Skin .HeatMapContainer .point {
  width: 4px;
  height: 4px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #000000;
  z-index: 5;
  font-size: 0px;
  line-height: 0px;
  cursor: crosshair;
}

/* 
This is the HORIZONTAL line where you click
Smart: there's a white line and a dark line
Maybe we could customize/color the dark line? */
.Skin .HeatMapContainer .chh {
  height: 0px;
  position: absolute;
  border-bottom: 1px solid #666666;
  border-top: 1px solid #FFFFFF;
  font-size: 0px;
  line-height: 0px;
  cursor: crosshair;
}

/* 
This is the VERTICAL line where you click
Smart: there's a white line and a dark line
Maybe we could customize/color the dark line?*/
.Skin .HeatMapContainer .chv {
  width: 0px;
  position: absolute;
  border-left: 1px solid #666666;
  border-right: 1px solid #FFFFFF;
  font-size: 0px;
  line-height: 0px;
  zoom: 1;
  cursor: crosshair;
}

.Skin .HeatMapContainer img {
  cursor: crosshair;
  border: none !important;
}

.Skin .FileUpload iframe {
  width: 100%;
  height: 56px;
  border: none;
  background-color: transparent;
}

.Skin .FileUpload .loadingError {
  background-color: #CC0000;
  font-weight: bold;
  margin: 5px auto;
  padding: 4px;
  width: 26em;
}

.Skin .FileUpload .loadingImage {
  background: transparent url("../WRQualtricsShared/Graphics/ajax-loading.gif") no-repeat;
  width: 220px;
  height: 19px;
  margin: 40px auto;
}

.Skin .FileUpload table {
  text-align: center;
}

/*
 * Be careful about editing this class
 * We are not using display:none since it sets dimensions to zero in most
 * browsers. This breaks some questions that require javascript for setup.
 */
.Skin .IPDLHidden {
  position: absolute;
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}

/* IE7 has a bug where table borders show when visibility is set to hidden
 * Also, using transparent instead of none since it messes up the slider position
 */
.Skin .IPDLHidden td, .Skin .IPDLHidden th {
  border-color: transparent !important;
}

.offScreen {
  position: fixed;
  _position: absolute;
  left: -9999px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#TocHeaderContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

#TocHeader {
  position: relative;
}

#TocHeader table {
  width: 100%;
}

#TocHeader a {
  text-align: center;
}

#TocSidebarContainer {
  position: absolute;
  left: -20px;
  top: 0px;
  z-index: -1;
}

.IE7 #TocSidebarContainer {
  z-index: 1;
}

#TocSidebarContainer.reduced {
  left: -70px;
  top: 0px;
  z-index: 0;
}

#TocSidebar {
  left: -100%;
  z-index: 1;
  position: relative;
  max-width: 300px;
}

.reduced #TocSidebar {
  left: 0;
}

#TocSidebarIcons {
  padding: 20px;
  background-color: white;
  border: medium none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  height: 20px;
  width: 30px;
  padding: 2px 5px;
  float: right;
  overflow: hidden;
}

.reduced #TocSidebarIcons {
  float: left;
}

.IE #TocSidebarIcons {
  float: left;
}

#TocIcon {
  background-image: url(../../WRQualtricsControlPanel/CPGraphics/flowicons.png);
  background-position: -246px -1px;
  width: 16px;
  height: 16px;
  float: left;
}

#TocArrow {
  background-image: url(../../WRQualtricsControlPanel/CPGraphics/editwidgets.png);
  background-position: -1px -60px;
  width: 10px;
  height: 10px;
  float: right;
  margin-top: 5px;
}

.closed #TocArrow {
  background-position: -11px -60px;
}

.closed #TocSidebarContent {
  display: none;
}

#TocSidebarContent {
  background-color: white;
  border: medium none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#Toc {
  padding: 10px 0;
  background-color: white;
  position: relative;
  z-index: 1;
}

#TocSidebar .Header, #TocSidebar .Footer {
  font-size: 80%;
}

#TocSidebar .Header {
  padding-bottom: 5px;
  min-height: 5px;
}

#TocSidebar .Footer {
  padding-top: 5px;
  min-height: 5px;
}

#Toc ul li {
  margin: 2px 0 !important;
  list-style-type: none !important;
}

#Toc a, #Toc strong, #TocHeader a {
  padding: 4px 20px 4px 20px;
  color: #666;
  display: block;
  font-size: 14px;
}

#TocSidebar a {
  text-decoration: none;
}

#Toc ul a, #Toc ul strong {
  padding-left: 20px;
}

#Toc ul ul a, #Toc ul ul strong {
  padding-left: 36px;
}

#Toc ul ul ul a, #Toc ul ul ul strong {
  padding-left: 62px;
}

#Toc ul ul ul ul a, #Toc ul ul ul ul strong {
  padding-left: 78px;
}

#Toc li.Alert a {
  color: red;
}

#Toc li.Complete a {
  color: #666;
}

#Toc li span.TocIcon {
  height: 16px;
  width: 16px;
  display: block;
  float: left;
  font-size: 10px;
  line-height: 16px;
}

#Toc li span.TocText {
  display: block;
  margin-left: 21px;
}

#Toc li.Complete span.TocIcon, #TocHeader td.Complete span.TocIcon {
  background: url(../../WRQualtricsControlPanel/CPGraphics/widgets.png) no-repeat scroll -112px -224px transparent;
}

#Toc li.Complete.Current span.TocIcon, #TocHeader td.Complete.Current span.TocIcon {
  background: url(../../WRQualtricsControlPanel/CPGraphics/widgets.png) no-repeat scroll -112px -240px transparent;
}

#Toc li.Authenticator span.TocIcon, #TocHeader td.Authenticator span.TocIcon {
  background: url(../../WRQualtricsControlPanel/CPGraphics/widgets.png) no-repeat scroll -269px -225px transparent;
}

#Toc li.Authenticator.Current span.TocIcon, #TocHeader td.Authenticator.Current span.TocIcon {
  background: url(../../WRQualtricsControlPanel/CPGraphics/widgets.png) no-repeat scroll -269px -241px transparent;
}

#Toc li.Alert span.TocIcon, #TocHeader td.Alert span.TocIcon {
  background: url(../../WRQualtricsControlPanel/CPGraphics/widgets.png) no-repeat scroll -255px -224px transparent;
}

#Toc li.Alert.Current span.TocIcon, #TocHeader td.Alert.Current span.TocIcon {
  background: url(../../WRQualtricsControlPanel/CPGraphics/widgets.png) no-repeat scroll -255px -240px transparent;
}

#Toc li.Disabled {
  display: none;
}

#TocHeader td span.TocIcon {
  height: 16px;
  width: 16px;
  display: inline-block;
  font-size: 10px;
  line-height: 16px;
  margin-right: 5px;
}

#TocHeader td.Current a {
  color: #FFF;
  background-color: #666;
}

#Toc li.Current, body #Toc li.Current a, #Toc li.Current strong {
  background-color: #366CCC;
  color: #FFF;
}

#Toc li.Incomplete a {
  color: #aaa;
}

.Hidden {
  display: none;
}

body.TocMargin div.Skin {
  margin-left: 70px;
}

@media print {
  .Skin .ReadableAlt {
    /* this fixes a problem with pdfs on windows having uneven borders in the alt rows */
    background: none;
  }
}
@media print {
  #Buttons button,
  .PreviewBanner,
  #Plug,
  #ProgressBar,
  #LogoBar {
    display: none;
  }

  #SkinContent {
    border: none;
  }
}
.ResponseSummary {
  border: 1px solid #aaa;
  border-width: 1px 0;
  background: #eee;
  padding: 20px;
}

.ResponseSummary p {
  float: left;
  color: #333;
}

.ResponseSummary .DownloadResponsesPDF {
  float: right;
}

.Skin #SkinContent {
  zoom: 1;
  z-index: 0;
  position: relative;
}

.Skin legend {
  white-space: normal;
  width: 100%;
}

.Skin .Invisible {
  display: none;
}

.Skin #Buttons #SaveButton {
  display: none;
}

.Skin .ProgressBarContainer label {
  display: block;
  text-align: center;
}

.Skin .ProgressBarFill {
  background: #007fc2;
  height: 10px;
}

.Skin .ProgressBarFillContainer {
  width: 150px;
  background: blue;
}

.Skin .Redirect a {
  padding-top: 6pt;
}

.Skin .EndOfSurvey .LoadingImage {
  padding-top: 10pt;
}

.Skin .SystemEndOfSurvey {
  text-align: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .Skin .STAR .Stars th.ylabel,
  .Skin .STAR .Stars td,
  .Skin .Slider .STAR .horizontalbar table.sliderGrid tr td.value,
  .Skin .STAR .Stars table td.BarOuter {
    border: none;
  }

  .Skin .STAR .horizontalbar table.sliderGrid {
    table-layout: auto;
  }

  .Skin .STAR .horizontalbar table.sliderGrid tr td.value {
    width: auto;
    text-align: left;
  }

  .Skin .STAR .Stars tbody tr {
    height: 46px;
  }

  .Skin .STAR tr.HideValue td.BarOuter {
    width: auto;
  }

  .Skin .STAR .BarContainer {
    top: 0px;
  }

  .Skin .STAR .StarsStrut {
    white-space: nowrap;
  }

  .Skin .STAR .StarsContainer,
  .Skin .STAR .StarsEventWatcher,
  .Skin .STAR .StarsContainer .Filled {
    height: 26px;
    background: transparent url("../Graphics/stars@2x.png") 0px 0px;
    background-size: 30px 53px;
  }

  .Skin .STAR .StarsOuterContainer {
    margin: 10px;
  }

  .Skin .STAR .StarsContainer {
    background-position: 0px -27px;
    position: relative;
  }

  .Skin .STAR .StarsEventWatcher {
    top: 0px;
    left: 0px;
    position: absolute;
    background-image: none;
  }

  .Skin .STAR .StarsContainer .Filled {
    background-position: 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .Skin .STAR .StarsContainer .StarsOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .Skin .STAR .StarsContainer .Star {
    width: 36px;
    height: 30px;
    background: transparent url("../Graphics/stars@2x.png") 0px 0px;
    background-size: 30px 53px;
    float: left;
  }
}
#SurveyEngineBody.iOS,
#SurveyEngineBody.Android {
  overflow-x: hidden;
  max-width: 100%;
  display: block;
}

#SurveyEngineBody.iOS .Skin,
#SurveyEngineBody.Android .Skin {
  overflow-x: hidden;
}

#SurveyEngineBody.iOS .Skin #Questions,
#SurveyEngineBody.Android .Skin #Questions {
  overflow-x: hidden;
}

#SurveyEngineBody .Skin .QuestionOuter {
  border-radius: 0px;
}

#SurveyEngineBody.iOS #Page,
#SurveyEngineBody.Android #Page {
  overflow-x: hidden;
}

#SurveyEngineBody.iOS .Skin #Questions .QuestionOuter,
#SurveyEngineBody.Android .Skin #Questions .QuestionOuter {
  overflow-x: scroll;
  -webkit-overflow-scrolling: auto;
}

#SurveyEngineBody.iOS .Skin #Questions .QuestionOuter fieldset,
#SurveyEngineBody.Android .Skin #Questions .QuestionOuter fieldset {
  overflow-x: hidden;
}

#SurveyEngineBody.iOS .Skin #Questions .QuestionOuter fieldset .QuestionBody,
#SurveyEngineBody.Android .Skin #Questions .QuestionOuter fieldset .QuestionBody {
  overflow-x: hidden;
}

#SurveyEngineBody.iOS .SkinInner,
#SurveyEngineBody.Android .SkinInner {
  margin: 0px;
  max-width: 100%;
}

.Skin .ScrollIndicator {
  background: url(../Graphics/arrow.png) no-repeat center center;
  background-size: 20px 13px;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0px;
  width: 25px;
  -webkit-animation-delay: 0s;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  opacity: 1.0;
  border: 1px solid #666;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Android *::-webkit-scrollbar {
  display: none;
}

.Android .Skin #Questions .QuestionOuter fieldset {
  overflow-x: auto;
  -webkit-overflow-scrolling: auto;
  -webkit-transform: rotateZ(0);
}

.Android .QuestionOuter {
  overflow-x: scroll;
  -webkit-overflow-scrolling: auto;
}

@media only screen and (max-width: 480px) {
  body {
    top: 0px !important;
  }

  .Skin .Inner.HSLIDER {
    min-width: 500px;
    max-width: 500px;
  }

  .Skin .Inner.HBAR {
    min-width: 500px;
    max-width: 500px;
  }

  .Skin .Inner.CS {
    min-width: 500px;
    max-width: 500px;
  }

  /* We don't apply this without the HSLIDER or HBAR since it could affect sliding scale questions */
  .Skin .HSLIDER .horizontalbar,
  .Skin .HBAR .horizontalbar {
    min-width: 500px;
    max-width: 500px;
  }

  body.TocMargin div.Skin {
    margin-left: 0px;
  }

  #TocSidebarContainer {
    position: absolute;
    right: -192px;
  }

  .Skin #TocSidebarContainer.reduced {
    right: 10px;
    top: 10px;
    left: auto;
  }

  .reduced #TocSidebarIcons {
    float: right;
  }

  .Skin #JumpButton {
    display: none;
  }

  .ScrollIndicator {
    -webkit-animation: fadeInRight 1s;
  }

  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
}

  /*
    * Percentage width for lead generator.
    */
  .Skin .LeadGenerator {
    width: 90%;
    margin: 0 auto;
  }

  .Skin .LeadGenerator .imageHolder {
    width: 100%;
  }

  .Skin .LeadGenerator .imageHolderOuter {
    width: 100%;
  }

  .Skin .LeadGenerator .imageHolder div {
    padding-top: 15px;
  }

  .Skin .LeadGenerator a {
    width: 100%;
  }
}
/*End of media query*/
/**
 * END MOBILE STYLES
 */
@media only screen and (min-device-width: 400px) {
  html, body, #Page, .Skin {
    height: 100%;
  }
}
#SurveyEngineBody {
  background: #007fc2 none no-repeat center fixed;
  background-size: cover;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.Skin #Wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -38px;
}
.Skin .SkinInner {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}
.Skin #ProgressBar {
  font-size: 14px;
  padding: 0;
  position: relative;
  min-height: 1px;
}
.Skin .ProgressBarContainer {
  width: 100%;
  border-collapse: collapse;
}
.Skin #ProgressBar tr td:nth-child(1) {
  position: absolute;
  left: 0;
  color: #007fc2;
  line-height: 15px;
  border-left: 3px solid #007fc2;
  width: 100%;
}
.Skin #ProgressBar tr td:nth-child(2) {
  width: 100%;
}
.Skin #ProgressBar tr td:nth-child(3) {
  position: absolute;
  right: 0;
  line-height: 15px;
  color: #007fc2;
  border-right: 3px solid #dddddd;
}
.Skin .ProgressBarFillContainer {
  border: none;
  overflow: hidden;
  background: #dddddd;
  width: 100%;
}
.Skin .ProgressBarFill {
  background-color: #007fc2;
  padding: 0px;
  height: 15px;
}
.Skin #LogoContainer {
  background: white;
  display: none;
}
.Skin #HeaderContainer {
  background: transparent;
}
.Skin #Header {
  background: transparent;
  font-size: 18px;
  color: #f5fcff;
  margin: 0px auto;
  max-width: 960px;
  min-height: 18px;
  padding: 20px 30px;
}
.Skin #SkinContent {
  border: 0px solid #e6e6e6;
  max-width: 900px;
  margin: 0 auto;
  background: white;
  border-radius: 4px;
}
.Skin #Questions {
  padding-top: 1px;
}
.Skin .QuestionOuter {
  padding: 30px;
}
.Skin .QuestionText {
  font-size: 18px;
  color: #5e5d64;
  padding-bottom: 30px;
}
.Skin .QuestionBody {
  color: #5e5d64;
  font-size: 16px;
  overflow-x: auto !important;
  overflow-y: hidden;
}
.Skin #Buttons {
  margin-top: 80px;
  padding: 30px;
  text-align: right;
}
.Skin #Buttons #PreviousButton {
  float: left;
}
.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton {
  border: 2px solid white;
  background-color: #007fc2;
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin: 0px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
}
@media only screen and (min-device-width: 1024px) {
  .Skin #Buttons #NextButton:hover, .Skin #Buttons #PreviousButton:hover {
    transition: all .1s ease-in-out;
    border-color: #004d76;
    color: #004d76;
  }
  .Skin #Buttons #NextButton:active, .Skin #Buttons #PreviousButton:active {
    transition: all .1s ease-in-out;
    border-color: #003c5c;
    color: #003c5c;
  }
}
.Skin #Footer {
  font-size: 13px;
  max-width: 900px;
  margin: 0px auto;
  padding: 0px;
  background: #007fc2;
  color: #8fd8ff;
}
.Skin #PushStickyFooter {
  height: 38px;
}
.Skin #Plug {
  color: #5e5d64;
  font-size: 13px;
  float: right;
  margin: 0;
  text-align: center;
}
.Skin #Plug a {
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  background: #005e8f;
  background: rgba(0, 0, 0, 0.3);
}
@media all and (min-width: 767px) {
  .Skin #Plug a {
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -ms-border-radius: 5px 0 0 0;
    -o-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
  }
}

#RestoredResponseBar {
  background: #45464b !important;
  color: #888c8f !important;
}

#RestoredResponseBar .BottomShadow {
  display: none;
}

.Skin button, .Skin input, .Skin select, .Skin textarea {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color: #5e5d64;
}
.Skin input.TextEntryBox,
.Skin .TE textarea,
.Skin textarea,
.Skin input[type="password"],
.Skin input[type="text"],
.Skin input[type="search"],
.Skin select {
  border: 2px solid #d1d1d1;
  border-radius: 4px;
  padding: 4px;
  max-width: 100%;
}
.Skin .HeaderValidationError {
  background-color: #ffefef;
  color: #ff2323;
  border: 0px solid #ffbcbc;
  margin: 30px;
  padding: 15px;
  border-radius: 4px;
  background: #FFD7D7;
  color: #E73F61;
}
.Skin .ValidationError {
  font-size: 120%;
  color: #ff2323;
  color: #E73F61;
  text-align: center;
}
.Skin .HeaderValidationError h1 {
  font-size: 120%;
}
.Skin .HeaderValidationError li a {
  color: #ff2323;
  color: #E73F61;
}
.Skin .Separator {
  height: 2px;
  background: #d1d1d1;
  margin: 10px 30px;
}
.Skin .LightText {
  color: #919097;
}
.Skin .ReadableAlt, .Skin .LightBG {
  background: #f7f7f7;
  background: rgba(0, 0, 0, 0.05);
}
.Skin .QuestionOuter.Highlight .Inner,
.Skin .QuestionOuter.Highlight .Inner .reg,
.Skin .QuestionOuter.Highlight .Inner .alt,
.Skin .QuestionOuter.Highlight .Inner .ReadableAlt {
  background-color: #fffbc0;
}
.Skin .QuestionOuter.Highlight .Inner .ReadableAlt,
.Skin .QuestionOuter.Highlight .Inner .LightBG {
  background-color: #fff88d;
}
.Skin .PGR .DragAndDrop td.groupsContainerTd div > div {
  border: 2px solid #d1d1d1;
  border-radius: 4px;
  margin: 5px;
}
.Skin .PGR .DragAndDrop h2 {
  font-size: inherit;
}
.Skin .PGR .DragAndDrop .Group h2 {
  border-bottom: 2px solid #d1d1d1;
  padding: 10px;
  background: #f7f7f7;
}
.Skin .RO .DND .rank,
.Skin .PGR .DragAndDrop .rank {
  padding: 2px 10px;
  margin: 7px 0;
  left: 4px;
  border-radius: 40px;
  background-color: #29b5ff;
  background-color: #bfbfbf;
  color: white;
}
.Skin .RO .DND ul.Edited .rank,
.Skin .RO .DND ul.NotEdited li:hover .rank,
.Skin .RO .DND .rank {
  background: #007fc2;
  color: white;
}
.Skin .PGR .DragAndDrop .Group div {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.Skin .PGR .DragAndDrop .stack ul li.stack {
  border: 2px solid #d1d1d1;
  border-radius: 4px;
}
.Skin .RO .DND .Items ul li,
.Skin .PGR .DragAndDrop .Items ul li {
  padding: 8px 0;
  text-align: center;
}
.Skin .RO .DND .Group ul li,
.Skin .PGR .DragAndDrop .Group ul li {
  padding: 8px 40px;
  text-align: center;
}
.Skin .PGR .DragAndDrop .NoColumns td.groupsContainerTd div > div {
  margin: 0 auto 10px auto;
}
.Skin .RO .DND ul li {
  padding: 10px;
}
.Skin .RO .DND ul li:hover {
  background: #005e8f;
  background: #e6e6e6;
}
.Skin .horizontalbar tr.Stars td.value input,
.Skin .horizontalbar table.sliderGrid tr td.value input {
  width: 4em;
}
.Skin .horizontalbar .bar {
  background-color: #e6e6e6;
}
.Skin .horizontalbar .activated .bar,
.Skin .horizontalbar .BarContainer:hover .bar {
  background-color: #007fc2;
}
.Skin .SS .horizontalbar .SSTrack,
.Skin .horizontalbar .Slider .track {
  background-color: #e6e6e6;
}
.Skin .SS .horizontalbar .handle,
.Skin .horizontalbar .Slider .handle {
  background-color: #007fc2;
}
.Skin .SS .horizontalbar .handle:hover,
.Skin .horizontalbar .Slider .handle:hover {
  background-color: #007fc2;
  padding: 10px;
}
.Skin .EndOfSurvey {
  color: #5e5d64;
  padding: 30px;
}
.Skin .TE .FORM table {
  width: 100%;
}
.Skin .TE .FORM .LabelWrapper {
  text-align: left;
}
@media all and (max-width: 768px) {
  .Skin .TE .FORM input.InputText {
    width: 100% !important;
  }
}
.Skin .Matrix .DL table td.last {
  text-align: right;
}
.Skin .SB input {
  background: #007fc2;
  color: white;
  border-radius: 4px;
  padding: 4px 12px;
  border: none;
  border: 2px solid #d1d1d1;
  border-color: #007fc2;
}

.QuestionBody .TextEntryBox:focus, .TE textarea:focus, .TE input:focus, .TE .ML textarea:focus,
.TE .ESTB textarea:focus, .RO .RankInput:focus, .CS input.SumInput:focus, .CS input.SumTotal:focus,
.Matrix .CS input:focus, .Matrix .RO input:focus, .SBS .Long:focus, .horizontalbar tr.Stars td.value input:focus,
.horizontalbar table.sliderGrid tr td.value input:focus, .PGR .DragAndDrop ul:focus, select:focus, input:focus {
  border-color: #007fc2;
  outline: none;
}

.Skin .Inner.CS,
.Skin .Inner.HBAR {
  min-width: 0px;
}

@media all and (max-width: 768px) {
  .Skin .MC .MAHR td, .Skin .MC .SAHR td {
    display: block;
    width: 100%;
  }
}

.Skin input[type="radio"],
.Skin input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.Skin label.q-radio,
.Skin .q-checkbox {
  border: 2px solid #007fc2;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.Skin label.q-radio {
  border-radius: 100%;
}

.Skin label.q-checkbox {
  border-radius: 2px;
}

.Skin label.q-radio.q-checked,
.Skin label.q-checkbox.q-checked {
  background-color: #009aeb;
}

.Skin label.q-checkbox.q-checked {
  background-image: url(check.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.Skin .MC .MAHR .QuestionBody td.LabelContatiner,
.Skin .MC .SAHR .QuestionBody td.LabelContatiner {
  vertical-align: bottom;
}

.Skin .MC .SAHR .QuestionBody td.LabelContatiner .LabelWrapper,
.Skin .MC .MAHR .QuestionBody td.LabelContatiner .LabelWrapper {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .Skin .MC .MAHR .QuestionBody td.LabelContatiner,
  .Skin .MC .SAHR .QuestionBody td.LabelContatiner {
    border-bottom: 2px solid #eee;
  }

  .Skin .MC .MAHR .QuestionBody td.LabelContatiner:last-child,
  .Skin .MC .SAHR .QuestionBody td.LabelContatiner:last-child {
    border-bottom: none;
  }
}
.Skin .ChoiceStructure li {
  padding: 10px 0;
}

.Skin .MC .SAVR label.q-radio,
.Skin .MC .SAVR label.q-checkbox,
.Skin .MC .MAVR label.q-radio,
.Skin .MC .MAVR label.q-checkbox {
  float: left;
  margin-right: 10px;
  padding: 0;
}

.Skin .MC .MACOL .QuestionBody td.LabelContatiner,
.Skin .MC .SACOL .QuestionBody td.LabelContatiner {
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  html .Skin #Logo, html .CSS3 .Skin #Logo {
    background: transparent url("logo.png") no-repeat center center;
    background-size: 107.58px 33px;
    height: 63px;
  }

  .Skin #Header {
    text-align: center;
  }
  .Skin .SkinInner {
    margin: 0 auto !important;
    max-width: 900px;
  }
  .Skin #SkinContent {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .Skin #Plug {
    float: none;
  }
  .Skin #Plug a {
    width: 100%;
  }
}
