
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//VARIABLES, CONDITIONALS, & MIXINS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//_variables.scss

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//CONDITIONALS
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	//INTERCHANGABLE LOGO
	$interchangeable-logo: F;

	//LAYOUTS
-->	$full-width-header: T; //F is survey container
		$boxed-skincontent: F;
		$boxed-questions: F;
	$pushed-to-bottom-plug: T; //sticky footer plug

	//TURNS THE BORDER RADIUS ON SKIN CONTENT, PROGRESS BAR, & BUTTONS
-->	$border-radius-on: F;
	
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//VARIABLES
	/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//COLOR PALETTE
-->	$primary-color: dodgerblue;
	$secondary-color: darken($primary-color, 10%);
	$tertiary-color: $secondary-color;

	//FONTS
	$primary-font: "Avenir";
	$secondary-font: "Helvetica Neue";
	$tertiary-font: "Helvetica";
	$font-stack: $primary-font, $secondary-font, $tertiary-font, arial, sans-serif;

	//DEFAULT
-->	$body-background-color: $primary-color;
-->	$default-text-color: #fff;
	$default-font-size: 16px;
	$container-max-width: 900px;
	$default-border-color: lighten($body-background-color, 40%);
	$default-border-radius: 3px;
	$default-border-style: solid;
	$default-border-width: 1px;
	$default-border: $default-border-width $default-border-style $default-border-color;
	$default-container-padding: 20px;


	//QUESTION CONTAINER :: LOCATION VARIES WITH THESE VARIABLES
-->	$question-container-background-color: #FFF;
	$question-container-border-radius-on: $border-radius-on;
	$question-container-box-shadow-on: F;
		$container-box-shadow-x: 0;
		$container-box-shadow-y: 0;
		$container-box-shadow-spread: 10px;
		$container-box-shadow-color: darken($body-background-color, 50%);

	//SURVEY ENGINE BODY
	
	$body-background-image: none;
	$body-background: $body-background-color $body-background-image no-repeat center fixed;
	$body-background-size: cover;


	//SKIN INNER
	$skin-inner-max-width: $container-max-width;

	//LOGO CONTAINER
-->	$logo-container-background: #FFFFFF;

	//LOGO
	$logo-background-color: transparent;
-->	$logo-width: 163px;
-->	$logo-height: 50px;
	$logo-mobile-scale: .66;
	$logo-mobile-width: ($logo-width * $logo-mobile-scale);
	$logo-mobile-height: ($logo-height * $logo-mobile-scale);
	$logo-margin: 0px auto;
	$logo-padding: $default-container-padding;
	$logo-max-width: $container-max-width;
	$logo-image: url("logo.png");
	$logo-mobile-image: url("logo.png");
	$logo-position: $default-container-padding center;
	$logo-mobile-position: center center;
	$logo-mobile-padding: ($logo-padding * $logo-mobile-scale);
	
	//HEADER CONTAINER
-->	$header-container-background: darken($body-background-color, 10%);

	//HEADER
	$header-background-color: transparent;
	$header-font-size: ($default-font-size + 4);
	$header-margin: 0px auto;
	$header-max-width: $container-max-width;
	$header-padding: 10px $default-container-padding;
-->	$header-text-color: #FFF;

	//SKIN CONTENT
	$skin-content-border: 0px $default-border-style darken(#FFFFFF, 10%);
	$skin-content-border-radius: $default-border-radius;

	//QUESTIONS
	$question-text-font-size: ($default-font-size + 2);
-->	$question-text-color: $default-text-color;
	$question-body-font-size: $default-font-size;
-->	$question-body-text-color: $default-text-color;
	$question-outer-padding: 0px $default-container-padding;
	

	//PROGRESS BAR
	$progress-bar-fill-color: $secondary-color;
	$progress-bar-fill-height: 15px;
	$progress-bar-fill-padding: 0px;
	$progress-bar-padding: 0;
-->	$progress-bar-background-color: #DDD;
	$progress-bar-border-radius-on: $border-radius-on;
		$progress-bar-border-radius: $default-border-radius;

	//BUTTONS
-->	$button-primary-color: $primary-color;
	$button-secondary-color: #FFF;
	$button-padding: 10px 20px;
	$buttons-padding: $default-container-padding;
	//CONDITIONALS
		$button-outline: T; //false will do solid button
			$button-border-color: $button-secondary-color;
			$button-border: 2px  $default-border-style $button-border-color;
		
		$button-border-radius-on: $border-radius-on; //T or F
			$button-border-radius: $default-border-radius +2;



	//FOOTER CONTAINER
	$footer-container-background: $body-background-color;

	//FOOTER
	$footer-font-size: ($default-font-size - 3);
	$footer-padding: 0px;
-->	$footer-text-color: $default-text-color;

	//PLUG
	$plug-font-size: $footer-font-size;
	$plug-padding: 10px 20px;
-->	$plug-link-color: #FFF;
	$plug-text-color: $footer-text-color;
	$plug-text-align:center;
	$plug-background: darken($body-background-color, 10%);

	$calculated-sticky-footer-height: $footer-font-size + 10*2 +5;

	//MOBILE
	$mobile-label-font-size: 15px;
	$mobile-label-line-height: 50px;
	$mobile-label-MAVR-line-height: 36px;
	$tablet-label-font-size: 15px;
	$tablet-label-line-height: 36px;



	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//MIXINS
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//BORDER RADIUS
	@mixin border-radius($border-radius-size) {
		-webkit-border-radius: $border-radius-size;
		   -moz-border-radius: $border-radius-size;
			  -ms-border-radius: $border-radius-size;
		     -o-border-radius: $border-radius-size;
				    border-radius: $border-radius-size;
	}

	//BOX SHADOW
	@mixin box-shadow($x, $y, $size, $color) {
		-webkit-box-shadow: $x $y $size $color;
		   -moz-box-shadow: $x $y $size $color;
			      box-shadow: $x $y $size $color;
	}

	//LINEAR GRADIENT
	@mixin linear-gradient($top, $bottom) {
		background: $top;
		background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
		background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
		background: -o-linear-gradient(top,  $top 0%,$bottom 100%);
		background: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
		background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
	}
/***********************************************************************************************************************
STYLES
***********************************************************************************************************************/

@if $pushed-to-bottom-plug == T{
	@media only screen and (min-device-width: 400px) {
		html, body, #Page, .Skin {
		height: 100%;
		}
	}
}
img{
	max-width:100%;
	height: auto !important;
}

@if $interchangeable-logo == F{
	html {

		.Skin #Logo, .CSS3 .Skin #Logo  {
			background: $logo-background-color $logo-image no-repeat $logo-position;
			background-size: $logo-width $logo-height;
			height: $logo-height;
			margin: $logo-margin;
			max-width: $logo-max-width;
			padding: $logo-padding;
		}
	}
}


#SurveyEngineBody {
	background: $body-background;
	background-size: $body-background-size;
	font-family: $font-stack;
}

.Skin {
	#Wrapper{
		@if $pushed-to-bottom-plug == T{
			min-height: 100%;
			height: auto !important;
			height: 100%;
			margin: 0 auto (-$calculated-sticky-footer-height);
		}
		// -webkit-box-sizing: border-box;
		// -moz-box-sizing: border-box;
		// box-sizing: border-box;
	}

	.SkinInner {
		@if $full-width-header == T {
			max-width: 100%;
			margin:0 auto;

		}
		@else if $full-width-header == F {
			max-width: $skin-inner-max-width;
			margin: $default-container-padding auto;
			background: $question-container-background-color;
			@if $question-container-box-shadow-on == T{
				@include box-shadow($container-box-shadow-x, $container-box-shadow-y, $container-box-shadow-spread, $container-box-shadow-color);
			}
		}
		width: 100%;
	}

	#ProgressBar {
		font-size: $default-font-size;
		padding: $progress-bar-padding;
		position:relative;
		min-height: 1px;
	}

	.ProgressBarContainer{
		width:100%;
		border-collapse:collapse;
	}
	
	#ProgressBar tr td:nth-child(1) {
	  position: absolute;
	  left: 0;
	  color: #fff;
	  line-height: $progress-bar-fill-height;
	  border-left: 3px solid $progress-bar-fill-color;
	}
	
	#ProgressBar tr td:nth-child(2){
		width:100%;
	}
	
	#ProgressBar tr td:nth-child(3) {
	  position: absolute;
	  right: 0;
	  line-height: $progress-bar-fill-height;
	  color: $progress-bar-fill-color;
	  border-right: 3px solid $progress-bar-background-color;
	}

	.ProgressBarFillContainer {
		border: none;
		overflow:hidden;
		background:$progress-bar-background-color;
		width:100%;
	}

	.ProgressBarFill {
		background-color: $progress-bar-fill-color;
		padding: $progress-bar-fill-padding;
		height: $progress-bar-fill-height;
	}


	#LogoContainer {
		background: $logo-container-background;
		@if $full-width-header == F {
			max-width: ($skin-inner-max-width + ($default-container-padding * 2));
			margin:0 auto;
		}
		@if $interchangeable-logo == T{
			display:none;
		}
	}

	#HeaderContainer {
		background: $header-container-background;
		@if $full-width-header == F {
			max-width: ($skin-inner-max-width + ($default-container-padding * 2));
			margin:0 auto;
		}

	}

	#Header {
		background: $header-background-color;
		font-size: $header-font-size;
		color: $header-text-color;
		margin: $header-margin;
		max-width: $header-max-width;
		min-height: $header-font-size;
		padding: $header-padding;
	}

	#SkinContent {
		border: $skin-content-border;
		@if $full-width-header == T and $boxed-questions == F{
			@if $boxed-skincontent == T{
				max-width: $skin-inner-max-width;
				margin: $default-container-padding auto;
				background: $question-container-background-color;
				@if $question-container-box-shadow-on == T{
					@include box-shadow($container-box-shadow-x, $container-box-shadow-y, $container-box-shadow-spread, $container-box-shadow-color);
				}
			}
			@elseif $boxed-skincontent == F{
				max-width: $skin-inner-max-width + ($default-container-padding * 2);
				margin:0 auto;
				background: transparent;
			}
		}
		@if $full-width-header == T and $boxed-questions == T{
			max-width: $skin-inner-max-width + ($default-container-padding * 2);
			margin:$default-container-padding auto;
			background: transparent;
		}

		@if $question-container-border-radius-on == T {@include border-radius($skin-content-border-radius)}
		padding: 0px;
	}

	#Questions {
		padding: 0px;
	}

	.QuestionOuter {
		padding: 0;
		@if $boxed-questions == T {
			background: $question-container-background-color;
			margin:0 $default-container-padding;
			@if $question-container-border-radius-on == T {@include border-radius($skin-content-border-radius)}
			@if $question-container-box-shadow-on == T{
				@include box-shadow($container-box-shadow-x, $container-box-shadow-y, $container-box-shadow-spread, $container-box-shadow-color);
			}
		}

	}

	.QuestionOuter .Inner {
		padding: 0px;
		overflow-x:hidden; //testing question scrolling
	}

	.QuestionText {
		font-size: $question-text-font-size;
		color: $question-text-color;
		margin:0;
		padding: 15px;
		@if $boxed-questions == T {
			padding: 15px;
			background-color: $secondary-color;
		}
	}

	.QuestionBody {
		color: $question-body-text-color;
		font-size: $question-body-font-size;
		margin:0;
		padding: $default-container-padding !important;
		// @if $boxed-questions == T {
		// 	padding:$default-container-padding;
		// 	margin:0;
		// }
		overflow-x:auto !important; //testing question scrolling
		overflow-y:hidden;  //testing question scrolling
	}
	// @if $boxed-questions == T {
	// 	.RO .DND .QuestionBody, .CS .QuestionBody, .Matrix .QuestionBody, .SBSMatrix .QuestionBody{
	// 		padding:0;
	// 		li, tr, th{
	// 			padding-left:$default-container-padding !important;
	// 		}
	// 	}
	// 	.RO .RB .QuestionBody{
	// 			padding:0;
	// 		}
	// 	.Skin .Timing .QuestionText{
	// 		margin:0;
	// 	}
	// 	/////general styles I'm overriding maybe do for all Q types
	// 	.Skin .MC input.radio, .Skin .MC input.checkbox{
	// 		margin-left:0;
	// 	}

	// }
	body.ToCMargin div.Skin {
		margin-left: 0px;
	}

	#TocSidebarContainer.reduced {
		left: 10px;
	}

	.QuestionBody .TextEntryBox, .TE textarea, .TE input, .TE .ML textarea,.TE .ESTB textarea, .RO .RankInput,
	.Matrix .CS input, .Matrix .RO input,
	.SBS .Long, .horizontalbar tr.Stars td.value input, .horizontalbar table.sliderGrid tr td.value input,
	.PGR .DragAndDrop ul { 
		font-size: $default-font-size;
		padding: 5px;
	}

	input.TextEntryBox, .TE textarea, .TE .ESTB textarea, textarea, input[type="password"], input[type="text"], 
	input[type="search"] {
		max-width:100%;
		padding: 5px;
	}

	input.TextEntryBox, .TE textarea, textarea, input[type="password"], input[type="text"], input[type="search"], 
	select {
		border: $default-border;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.QuestionBody .TextEntryBox:focus, .TE textarea:focus, .TE input:focus, .TE .ML textarea:focus,
	.TE .ESTB textarea:focus, .RO .RankInput:focus, .CS input.SumInput:focus, .CS input.SumTotal:focus, 
	.Matrix .CS input:focus, .Matrix .RO input:focus, .SBS .Long:focus, .horizontalbar tr.Stars td.value input:focus, 
	.horizontalbar table.sliderGrid tr td.value input:focus, .PGR .DragAndDrop ul:focus, select:focus, input:focus {
		border: 1px solid $primary-color;
		outline: none;
	}

	select {font-size: $default-font-size;}

	.Matrix input {margin: 2px auto;}

	.Skin .Matrix .TE .Long td input,.Skin .Matrix .TE .Medium td input, .Skin .Matrix .TE .Short td input {
		margin: 0 auto;
	}

	.ReadableAlt, .LightBG {
		@if $full-width-header == true{
			background: darken($body-background-color, 4%);
		}
		@if $full-width-header == false or $boxed-questions == true or $boxed-skincontent == true{
			background: darken($question-container-background-color, 4%);
		}

	}

	.RO .DND ul.Edited .rank, .RO .DND ul.NotEdited li:hover .rank, .RO .DND .rank {
		background: $primary-color;
	}

	.RO .DND ul li:hover{
		@if $full-width-header == true{
			background: darken($body-background-color, 10%);
		}
		@if $full-width-header == false or $boxed-questions == true or $boxed-skincontent == true{
			background: darken($question-container-background-color, 10%);
		}
	}

	.horizontalbar tr.xlabel th:last-child {
		border-bottom-color: transparent;
	}


	.EndOfSurvey {
		border: none;
		color: $default-text-color;
		padding: 30px;
		@if $full-width-header == T and $boxed-questions == T{
			background: $question-container-background-color;
		}
	}

	#Buttons {
	padding: $buttons-padding;
	text-align:right;
	}

	#Buttons #PreviousButton {
		float: left;
	}

	#Buttons #NextButton, #Buttons #PreviousButton {

		@if $button-outline == T {
			border: $button-border;
			background-color: $button-primary-color;
			color: $button-secondary-color;
		}
		@else if $button-outline == F {
			border: none;
			background-color: $button-primary-color;
			color: $button-secondary-color;
		}
		
		@if $button-border-radius-on == T {@include border-radius($button-border-radius)}
		@else if $button-border-radius-on == F {@include border-radius(0px)}
		cursor: pointer;
		font-size: $default-font-size;
		margin: 0px;
		padding: $button-padding;
		text-align: center;
		text-decoration: none;
		-webkit-appearance: none;

		@media only screen and (min-device-width: 1024px) {


			@if $button-outline == F {

				&:hover {

					background-color: darken($button-primary-color, 10%);
					transition: all .1s ease-in-out;
				}

				&:active {
					background-color: darken($button-primary-color, 20%);
					border-color: darken($button-primary-color, 20%);
				}
		
			}

			@if $button-outline == T {

				&:hover {
					//background-color: rgba(0,0,0,.1);
					transition: all .1s ease-in-out;
					border-color: darken($button-primary-color, 15%);
					color: darken($button-primary-color, 15%);
				}

				&:active {
					//background-color: rgba(0,0,0,.2);
					transition: all .1s ease-in-out;
					border-color: darken($button-primary-color, 20%);
					color: darken($button-primary-color, 20%);
				}
		
			}

		}
	}

	#Footer {
		color: $footer-text-color;
		font-size: $footer-font-size;
		max-width: $container-max-width;
		margin: 0px auto;
		padding: $footer-padding;
	}

	#PushStickyFooter{
		height:$calculated-sticky-footer-height;
	}
	
	#Plug {
		color: $plug-text-color;
		font-size: $plug-font-size;
		float:right;
		margin: 0;
		text-align: $plug-text-align;


		a {
			color: $plug-link-color;
			text-decoration: none;
			padding: $plug-padding;
			background: $plug-background;
				@if $border-radius-on == T{
					-webkit-border-radius: 5px 0 0 0;
					-moz-border-radius: 5px 0 0 0;
					-ms-border-radius: 5px 0 0 0;
					-o-border-radius: 5px 0 0 0;
					border-radius: 5px 0 0 0;
				}
		}
	}
}



/***********************************************************************************************************************
MOBILE
***********************************************************************************************************************/
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {

	html  {

		.Skin #Logo, .CSS3 .Skin #Logo {
			background: $logo-background-color $logo-mobile-image no-repeat $logo-mobile-position;
			background-size: $logo-mobile-width $logo-mobile-height;
			height: $logo-mobile-height;
			padding: $logo-mobile-padding;
		}
	}

	.Skin {
		@if $full-width-header == F{ 
			#LogoContainer{
			margin-top:0;
			}
		}

		#Header{
			text-align: center;
		}

		.SkinInner {
			margin: 0 auto !important;
			max-width: $container-max-width;
		}

		#SkinContent {
			border: none;
			@if $question-container-border-radius-on == T {
			@include border-radius(0);
			}
		}

		@if $boxed-questions == T {
			.QuestionOuter {
			margin:0;
			}
		}
		#Plug {
			float:none;
			a{
				width:100%;
			}
		}

		.MC .SAVR .QuestionBody label {
			line-height: $mobile-label-line-height;
			font-size: $mobile-label-font-size;
		}
		.MC .MAVR .QuestionBody label {
			line-height:  $mobile-label-MAVR-line-height;
			 font-size: $mobile-label-font-size;
		}
	}
}

// Added to allow text to wrap on mobile for these questions
@media only screen and (max-device-width: 480px) {
	.Skin .Inner.CS,
	.Skin .Inner.HBAR {
		min-width: 0px;
	}
	.Skin .MC .NPS .QuestionBody {
	padding-right: 0px; //basestyles has padding-left:0 already added
	}
}

/***********************************************************************************************************************
TABLET
***********************************************************************************************************************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

	#SurveyEngineBody.iOS .Skin .SkinInner, #SurveyEngineBody.Android .Skin .SkinInner {
		max-width: $container-max-width !important;
	}

	.Skin .MC .MAVR .QuestionBody label,.Skin .MC .SAVR .QuestionBody label {
		line-height: $tablet-label-line-height;
		font-size: $tablet-label-font-size;
	}
}