/***********************************************************************************************************************
STYLES
***********************************************************************************************************************/
@media only screen and (min-device-width: 400px) {
  html, body, #Page, .Skin {
    height: 100%; } }
img {
  max-width: 100%;
  height: auto !important; }

html .Skin #Logo, html .CSS3 .Skin #Logo {
  background: transparent url("logo.png") no-repeat 20px center;
  background-size: 163px 50px;
  height: 50px;
  margin: 0px auto;
  max-width: 900px;
  padding: 20px; }

#SurveyEngineBody {
  background: #0081cd none no-repeat center fixed;
  background-size: cover;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", arial, sans-serif; }

.Skin #Wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -38px; }
.Skin .SkinInner {
  max-width: 100%;
  margin: 0 auto;
  width: 100%; }
.Skin #ProgressBar {
  font-size: 16px;
  padding: 0;
  position: relative;
  min-height: 1px; }
.Skin .ProgressBarContainer {
  width: 100%;
  border-collapse: collapse; }
.Skin #ProgressBar tr td:nth-child(1) {
  position: absolute;
  left: 0;
  color: #fff;
  line-height: 15px;
  border-left: 3px solid #00619a; }
.Skin #ProgressBar tr td:nth-child(2) {
  width: 100%; }
.Skin #ProgressBar tr td:nth-child(3) {
  position: absolute;
  right: 0;
  line-height: 15px;
  color: #00619a;
  border-right: 3px solid #dddddd; }
.Skin .ProgressBarFillContainer {
  border: none;
  overflow: hidden;
  background: #dddddd;
  width: 100%; }
.Skin .ProgressBarFill {
  background-color: #00619a;
  padding: 0px;
  height: 15px; }
.Skin #LogoContainer {
  background: white; }
.Skin #HeaderContainer {
  background: #00619a; }
.Skin #Header {
  background: transparent;
  font-size: 20px;
  color: #333333;
  margin: 0px auto;
  max-width: 900px;
  min-height: 20px;
  padding: 10px 20px; }
.Skin #SkinContent {
  border: 0px solid #e6e6e6;
  max-width: 900px;
  margin: 20px auto;
  background: white;
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0px; }
.Skin #Questions {
  padding: 0px; }
.Skin .QuestionOuter {
  padding: 0; }
.Skin .QuestionOuter .Inner {
  padding: 0px;
  overflow-x: hidden; }
.Skin .QuestionText {
  font-size: 18px;
  color: #333333;
  margin: 0;
  padding: 15px; }
.Skin .QuestionBody {
  color: #333333;
  font-size: 16px;
  margin: 0;
  padding: 20px;
  overflow-x: auto;
  overflow-y: hidden; }
.Skin body.ToCMargin div.Skin {
  margin-left: 0px; }
.Skin #TocSidebarContainer.reduced {
  left: 10px; }
.Skin .QuestionBody .TextEntryBox, .Skin .TE textarea, .Skin .TE input, .Skin .TE .ML textarea, .Skin .TE .ESTB textarea, .Skin .RO .RankInput,
.Skin .Matrix .CS input, .Skin .Matrix .RO input,
.Skin .SBS .Long, .Skin .horizontalbar tr.Stars td.value input, .Skin .horizontalbar table.sliderGrid tr td.value input,
.Skin .PGR .DragAndDrop ul {
  font-size: 16px;
  padding: 5px; }
.Skin input.TextEntryBox, .Skin .TE textarea, .Skin .TE .ESTB textarea, .Skin textarea, .Skin input[type="password"], .Skin input[type="text"],
.Skin input[type="search"] {
  max-width: 100%;
  padding: 5px; }
.Skin input.TextEntryBox, .Skin .TE textarea, .Skin textarea, .Skin input[type="password"], .Skin input[type="text"], .Skin input[type="search"],
.Skin select {
  border: 1px solid #002134;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.Skin .QuestionBody .TextEntryBox:focus, .Skin .TE textarea:focus, .Skin .TE input:focus, .Skin .TE .ML textarea:focus,
.Skin .TE .ESTB textarea:focus, .Skin .RO .RankInput:focus, .Skin .CS input.SumInput:focus, .Skin .CS input.SumTotal:focus,
.Skin .Matrix .CS input:focus, .Skin .Matrix .RO input:focus, .Skin .SBS .Long:focus, .Skin .horizontalbar tr.Stars td.value input:focus,
.Skin .horizontalbar table.sliderGrid tr td.value input:focus, .Skin .PGR .DragAndDrop ul:focus, .Skin select:focus, .Skin input:focus {
  border: 1px solid #0081cd;
  outline: none; }
.Skin select {
  font-size: 16px; }
.Skin .Matrix input {
  margin: 2px auto; }
.Skin .Skin .Matrix .TE .Long td input, .Skin .Skin .Matrix .TE .Medium td input, .Skin .Skin .Matrix .TE .Short td input {
  margin: 0 auto; }
.Skin .RO .DND ul.Edited .rank, .Skin .RO .DND ul.NotEdited li:hover .rank, .Skin .RO .DND .rank {
  background: #0081cd; }
.Skin .horizontalbar tr.xlabel th:last-child {
  border-bottom-color: transparent; }
.Skin .EndOfSurvey {
  border: none;
  color: #333333;
  padding: 30px; }
.Skin #Buttons {
  padding: 20px;
  text-align: right; }
.Skin #Buttons #PreviousButton {
  float: left; }
.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton {
  background-color: #0081cd;
  border: 2px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 0px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none; }
  @media only screen and (min-device-width: 1024px) {
    .Skin #Buttons #NextButton:hover, .Skin #Buttons #PreviousButton:hover {
      background-color: white;
      color: #0081cd; }
    .Skin #Buttons #NextButton:active, .Skin #Buttons #PreviousButton:active {
      background-color: transparent;
      border-color: #00619a;
      color: #00619a; } }
.Skin #Footer {
  color: #333333;
  font-size: 13px;
  max-width: 900px;
  margin: 0px auto;
  padding: 0px; }
.Skin #PushStickyFooter {
  height: 38px; }
.Skin #Plug {
  color: #333333;
  font-size: 13px;
  float: right;
  margin: 0;
  text-align: center; }
  .Skin #Plug a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background: #00619a; }

/***********************************************************************************************************************
MOBILE
***********************************************************************************************************************/
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
  html .Skin #Logo, html .CSS3 .Skin #Logo {
    background: transparent url("logo.png") no-repeat center center;
    background-size: 107.58px 33px;
    height: 33px;
    padding: 13.2px; }

  .Skin #Header {
    text-align: center; }
  .Skin .SkinInner {
    margin: 0 auto !important;
    max-width: 900px; }
  .Skin #SkinContent {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
  .Skin #Plug {
    float: none; }
    .Skin #Plug a {
      width: 100%; }
  .Skin .MC .SAVR .QuestionBody label {
    line-height: 50px;
    font-size: 15px; }
  .Skin .MC .MAVR .QuestionBody label {
    line-height: 36px;
    font-size: 15px; } }
@media only screen and (max-device-width: 480px) {
  .Skin .Inner.CS,
  .Skin .Inner.HBAR {
    min-width: 0px; } }
/***********************************************************************************************************************
TABLET
***********************************************************************************************************************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #SurveyEngineBody.iOS .Skin .SkinInner, #SurveyEngineBody.Android .Skin .SkinInner {
    max-width: 900px !important; }

  .Skin .MC .MAVR .QuestionBody label, .Skin .MC .SAVR .QuestionBody label {
    line-height: 36px;
    font-size: 15px; } }
