#SurveyEngineBody {
  background-color: #eeeeee;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif; }

.Skin #LogoContainer {
  background: transparent;
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
  box-sizing: border-box;
  margin: 20px auto; }

html .Skin #Logo {
  background-color: transparent;
  height: 50px; }

html .Skin #Logo {
  background: url(logo.png) no-repeat left;
  background-size: 150px 50px;
  margin: 0 auto; }

html .CSS3 .Skin #Logo {
  background: url(logo.png) no-repeat left;
  background-size: 150px 50px;
  margin: 0 auto; }

#FooterContainer {
  max-width: 900px;
  margin: 0 auto;
  margin: 40px auto;
  box-sizing: border-box; }

#Footer {
  width: auto;
  text-align: left;
  padding: 0;
  color: #999999; }

#Plug {
  color: #999999;
  padding: 20px 0 0 0; }
  #Plug a {
    color: #999999; }

.Skin .SkinInner {
  margin: 0 auto;
  width: 900px; }
.Skin #SkinContent {
  color: #444444;
  background-color: transparent; }
.Skin #Questions {
  padding: 20px 0;
  width: 100%; }
.Skin .QuestionOuter {
  padding: 0; }
.Skin .QuestionOuter .Inner {
  padding: 10px 0; }
.Skin #Header {
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 1px;
  color: white; }
.Skin .SkinInner table {
  color: #444444; }
.Skin .ReadableAlt,
.Skin .LightBG {
  background: #f8f8f8; }
.Skin .ProgressBarFillContainer {
  border-color: #930b0f; }
.Skin #Buttons {
  padding: 20px 0; }
.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton, .Skin .RO .DND ul.Edited .rank, .Skin .RO .DND ul.NotEdited li:hover .rank,
.Skin .RO .DND .rank, .Skin .ProgressBarFill, .Skin .ProgressBarFill, .Skin #Header {
  background: #930b0f; }
.Skin .horizontalbar tr.xlabel th:last-child {
  border-bottom-color: transparent; }
.Skin #Buttons #PreviousButton {
  float: left; }
.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton {
  border: none;
  font-size: 16px;
  text-decoration: none;
  color: white;
  position: relative;
  padding: 10px 30px;
  box-shadow: none;
  cursor: pointer;
  margin: 0;
  text-align: center;
  -webkit-appearance: none;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .Skin #Buttons #NextButton:active, .Skin #Buttons #NextButton :hover, .Skin #Buttons #PreviousButton:active, .Skin #Buttons #PreviousButton :hover {
    box-shadow: none;
    top: 0px;
    -webkit-appearance: none; }
  .Skin #Buttons #NextButton:hover, .Skin #Buttons #PreviousButton:hover {
    background: #c20f14; }
.Skin .Separator {
  background-color: transparent; }
.Skin .BorderColor {
  border-color: #bbbbbb; }
.Skin .ProgressBarFillContainer {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
.Skin .ProgressBarFill {
  padding: 2px 0px; }
.Skin .QuestionBody .TextEntryBox, .Skin .TE textarea, .Skin .TE input, .Skin .TE .ML textarea, .Skin .TE .ESTB textarea, .Skin .RO .RankInput,
.Skin .CS input.SumInput, .Skin .CS input.SumTotal, .Skin .Matrix .CS input, .Skin .Matrix .RO input,
.Skin .SBS .Long, .Skin .horizontalbar tr.Stars td.value input, .Skin .horizontalbar table.sliderGrid tr td.value input,
.Skin .PGR .DragAndDrop ul {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 2px #bbbbbb;
  -moz-box-shadow: 0 0 2px #bbbbbb;
  box-shadow: 0 0 2px #bbbbbb; }
.Skin .QuestionText {
  font-size: 18px;
  padding: 5px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 0; }
.Skin .PreviewBanner {
  color: #4d4d4d; }
.Skin .EndOfSurvey {
  border-width: 1px;
  padding: 15px;
  line-height: 1.5em;
  text-align: center;
  color: #444444;
  margin-bottom: 15px; }

.Skin .SkinInner {
  background: white;
  -webkit-box-shadow: 0 0 6px #aaaaaa;
  -moz-box-shadow: 0 0 6px #aaaaaa;
  box-shadow: 0 0 6px #aaaaaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.Skin .QuestionOuter {
  padding: 0 10px; }

.Skin .QuestionOuter .Inner {
  padding: 10px; }

.Skin #Buttons {
  padding: 20px; }

@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
  .Skin #Header {
    padding: 10px 16px; }
  .Skin .MC .MAVR .QuestionBody label, .Skin .Skin .MC .SAVR .QuestionBody label {
    line-height: 48px;
    font-size: 15px; }
  .Skin #LogoContainer {
    width: 100%; }

  html .Skin #Logo {
    background-position: 20px center; }

  html .CSS3 .Skin #Logo {
    background-position: 20px center; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Skin .MC .MAVR .QuestionBody label, .Skin .MC .SAVR .QuestionBody label {
    line-height: 36px;
    font-size: 15px; } }
