#SurveyEngineBody {
  background-color: #ccc;
}

.SkinInner {
  margin:10 auto;
}

.Skin #SkinContent {
  background: #F8F8F8;
  border: 1px solid #999;
  box-shadow:0px 0px 6px #aaa;
  color:#666;
}
 
.Skin #LogoBar {
  background:#fff;
  margin: 0 auto;
}

html .Skin #Logo {
  background-color: transparent;
  height: 35px;
}

html .Skin #Logo {
  background: url(logo.jpg) no-repeat left center;
  background-size: 180px 71px;
  margin: 0 auto;
  height: 100px;
}
html .CSS3 .Skin #Logo {
  background: url(logo.jpg) no-repeat left center;
  background-size: 180px 71px;
  margin: 0 auto;
  height: 100px;
}
.Skin #Header {
  padding:10px;
  font-size:20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#fff;
  background: #16588c;
}

.Skin .SkinInner table {
	color: #4d4d4d;
}
.skin .horizontalbar tr.xlabel th:last-child {
	border-bottom-color: transparent;
}

.Skin .ReadableAlt,
.Skin .LightBG {
  background:#f8f8f8;
}

.Skin #Buttons #PreviousButton {
  float: left;
}

.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton {
  background: #16588c;
  border:none;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 10px 30px;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  margin: 0;
  text-align: center;
  -webkit-appearance: none;
  border-radius:3px;
}
 
.Skin #Buttons #NextButton:active, .Skin #Buttons #PreviousButton:active,
.Skin #Buttons #NextButton:hover, .Skin #Buttons #PreviousButton:hover {
  box-shadow: none;
  top:0px;
  -webkit-appearance: none;
}
 
 #Buttons #NextButton, #Buttons #PreviousButton,  
.Skin .RO .DND ul.Edited .rank, 
.Skin .RO .DND ul.NotEdited li:hover .rank, 
.Skin .RO .DND .rank,.Skin .ProgressBarFill,.Skin .ProgressBarFill  {
  background: #16588c; /* Old browsers */
}

.Skin .Separator {
  background-color:#BDC1C3;
}

.Skin .ProgressBarFill {
  padding:2px 0px;
}

.Skin .ProgressBarFillContainer {
  border-color:#16588c;
}

.Skin .BorderColor {
  border-color: #aaa;
}

.Skin .SkinInner .QuestionBody {
  -webkit-overflow-scrolling: touch;
}​

.Skin .TE textarea, .Skin .TE input, .Skin .QuestionBody .TextEntryBox, .Skin .RO .RankInput,
.Skin .CS input.SumInput, .Skin .CS input.SumTotal, .Skin .Matrix .CS input, .Skin .Matrix .RO input,
.Skin .SBS .Long, .Skin .horizontalbar tr.Stars td.value input, .Skin .horizontalbar table.sliderGrid tr td.value input,
.Skin .TE .ESTB textarea, .Skin .TE .ML textarea,
html > body .Skin .PGR .DragAndDrop ul {
  background-color: #fff;
  padding:5px;
  border:1px solid #ccc;
  box-shadow:0 0 2px #bbb;
}

.Skin .QuestionText {
	font-size: 18px;
  padding:5px;
  color:#222;
  margin-top:0;
  margin-bottom:0;
}

.Skin #Footer {
  width:auto;
  text-align: left;
  padding:4px 20px 5px 20px;
  color:#272727;
}

.Skin #Plug {
  color:#000;
  padding:12px 20px;
  display:none;
}

.Skin #Plug a, .Skin a {
  color:#0e5595;
}

.Skin .PreviewBanner {
	color: #4d4d4d;
}


.Skin .EndOfSurvey {
  border-width:1px;
  padding:15px;
  line-height:1.5em;
  text-align:center;
  color:#666;
  margin-bottom:15px;
}

/* smartphone styles */
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
	/*fix for header padding on mobile.*/
	.Skin #Header {
		padding: 10px 16px;
	}
	/*fix for line-height on mobile*/
	.Skin .MC .MAVR .QuestionBody label, .Skin .MC .SAVR .QuestionBody label {
		line-height: 48px;
		font-size: 15px;
	}

.Skin #LogoBar {
  width:100%;
}

html .Skin #Logo {
  background-position:20px bottom;
}

html .CSS3 .Skin #Logo {
  background-position:20px bottom;
}
}

/* tablet styles */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	/*fix for line-height on mobile*/
	.Skin .MC .MAVR .QuestionBody label, .Skin .MC .SAVR .QuestionBody label {
		line-height: 36px;
		font-size: 15px;
	}
}