// "LIGHT SWITCH" RADIO BUTTONS
.Skin {
	label {

		&.q-radio {
			width: 40px;
			height: 20px;
			border-radius: 20px;
			padding: 1px;
			position: relative;
			border: 1px solid $primary-color;
			


			&:after {
				content: '';
				background: $primary-color;
				width: 14px;
				height: 14px;
				border-radius: 100%;
				display: block;
				position: absolute;
				left: 2px;
				top: 2px;
				transition: left .3s ease;
				
			}

			&.q-checked {
				background: $primary-color;

				&.q-focused {
					background: $primary-color;
				}

				&:after {
					background: #FFF;
					left: 22px;
				}
			}		
		}
	}
}