// TRUE RADIO BUTTON (INSIDE DOT SELECTED STATE)
.Skin {
	label {

		&.q-radio {
			width: 1.2em;
			height: 1.2em;
			
			&.q-checked {
				padding: 2px;
				background: transparent;

				&.q-focused {
					background: transparent;
				}

				&:after {
					content: '';
					background: $q-radio-background-checked;
					width: 100%;
					height: 100%;
					border-radius: 100%;
					display: block;
				}
			}		
		}
	}

	.MC {
		.SAVR {
			label {
				&.q-radio {
					padding: 2px;
				}
			}
		}

		.MAVR {
			label {
				&.q-checkbox {
					padding: 2px;
				}
			}
		}
	}
}