
$progress-bar-fill-height: 24px;

.Skin {

	#ProgressBar {
		font-size: $progress-bar-font-size;
		position:relative;

		@if $full-width-header == F {
			margin: auto;
			max-width: $container-max-width + 20px;
			padding: $default-container-padding 0px;
		}


		tr td:first-child {
		  position: relative;
		  padding: 2px 5px;
		  left: 0;
		  color: set-reverse-text-color($body-background-color);
		  line-height: $progress-bar-fill-height - 4;
		  width: auto;

		  @if $layout-style == "Photo" {
		  		@if $survey-overlay-filter == "Dark Filter" {
		  			color: #FFF;	
		  		}
			}

		    & + td {
				width:100%;
				padding: 0;

				& + td {
					padding: 2px 5px;
					right: 0;
					line-height: $progress-bar-fill-height - 4;
				}
			}

			///// Conditionals /////

		  	@if $full-width-header == F {
			  background: transparent;

				& + td {
					& + td {
						position: relative;
						color: set-reverse-text-color($body-background-color);

						@if $layout-style == "Photo" {
					  		@if $survey-overlay-filter == "Dark Filter" {
					  			color: #FFF;	
					  		}
						}
					}
				}
			} @else if $full-width-header == T {
				background: $progress-bar-fill-color;
				color: set-reverse-text-color($progress-bar-fill-color);

				@if $label-style-options == "3D" {
					@include linear-gradient($progress-bar-fill-color, darken($progress-bar-fill-color, 10%));
				}

				& + td {

					& + td {
						color: $progress-bar-fill-color;
						position: relative;	
						background: $progress-bar-background-color;
					}
				}
			}

			// Normalizing styles
		  	border-left: none;
		  	border-right: none;
		}
	}
	
	.ProgressBarContainer{
		width:100%;
		border-collapse:collapse;

		@if $full-width-header == T {
			border-bottom: 1px solid darken($progress-bar-background-color, 20%);

			@if $layout-style == "Color" {
				border-bottom: none; // 1px solid darken($progress-bar-fill-color, 20%);
			}
		}

		// Normalizing styles
		border-right: none;
		border-left: none;
	}

	.ProgressBarFillContainer {
		border: none;
		overflow:hidden;
		background:$progress-bar-background-color;
		width:100%;

		@if $full-width-header == F {

			border-radius: 20px;
			padding: 8px;

			@if $label-style-options == "3D" {

				border: 1px solid darken($progress-bar-background-color, 10%);
				
				 @if $layout-style == "Color" {
					border: 1px solid darken($progress-bar-fill-color, 20%);
				}
			}
		}
	}

	.ProgressBarFill {
		background-color: $progress-bar-fill-color;

		@if $full-width-header == F {
			height: 5px;
			border-radius: 5px;

		} @else if $full-width-header == T {
			height: $progress-bar-fill-height;
		}

		@if $label-style-options == "3D" {		
			@include linear-gradient($progress-bar-fill-color, darken($progress-bar-fill-color, 10%));
		}
	}
}